<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>render/fly/00000.png</key>
			<dict>
				<key>width</key>
				<integer>294</integer>
				<key>height</key>
				<integer>292</integer>
				<key>originalWidth</key>
				<integer>294</integer>
				<key>originalHeight</key>
				<integer>292</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>render/fly/00001.png</key>
			<dict>
				<key>width</key>
				<integer>294</integer>
				<key>height</key>
				<integer>292</integer>
				<key>originalWidth</key>
				<integer>294</integer>
				<key>originalHeight</key>
				<integer>292</integer>
				<key>x</key>
				<integer>296</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>render/fly/00002.png</key>
			<dict>
				<key>width</key>
				<integer>294</integer>
				<key>height</key>
				<integer>292</integer>
				<key>originalWidth</key>
				<integer>294</integer>
				<key>originalHeight</key>
				<integer>292</integer>
				<key>x</key>
				<integer>592</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>render/fly/00003.png</key>
			<dict>
				<key>width</key>
				<integer>294</integer>
				<key>height</key>
				<integer>292</integer>
				<key>originalWidth</key>
				<integer>294</integer>
				<key>originalHeight</key>
				<integer>292</integer>
				<key>x</key>
				<integer>888</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>render/fly/00004.png</key>
			<dict>
				<key>width</key>
				<integer>294</integer>
				<key>height</key>
				<integer>292</integer>
				<key>originalWidth</key>
				<integer>294</integer>
				<key>originalHeight</key>
				<integer>292</integer>
				<key>x</key>
				<integer>1184</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>render/fly/00005.png</key>
			<dict>
				<key>width</key>
				<integer>294</integer>
				<key>height</key>
				<integer>292</integer>
				<key>originalWidth</key>
				<integer>294</integer>
				<key>originalHeight</key>
				<integer>292</integer>
				<key>x</key>
				<integer>1480</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>render/fly/00006.png</key>
			<dict>
				<key>width</key>
				<integer>294</integer>
				<key>height</key>
				<integer>292</integer>
				<key>originalWidth</key>
				<integer>294</integer>
				<key>originalHeight</key>
				<integer>292</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>294</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>render/fly/00007.png</key>
			<dict>
				<key>width</key>
				<integer>294</integer>
				<key>height</key>
				<integer>292</integer>
				<key>originalWidth</key>
				<integer>294</integer>
				<key>originalHeight</key>
				<integer>292</integer>
				<key>x</key>
				<integer>296</integer>
				<key>y</key>
				<integer>294</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>render/fly/00008.png</key>
			<dict>
				<key>width</key>
				<integer>294</integer>
				<key>height</key>
				<integer>292</integer>
				<key>originalWidth</key>
				<integer>294</integer>
				<key>originalHeight</key>
				<integer>292</integer>
				<key>x</key>
				<integer>592</integer>
				<key>y</key>
				<integer>294</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>render/fly/00009.png</key>
			<dict>
				<key>width</key>
				<integer>294</integer>
				<key>height</key>
				<integer>292</integer>
				<key>originalWidth</key>
				<integer>294</integer>
				<key>originalHeight</key>
				<integer>292</integer>
				<key>x</key>
				<integer>888</integer>
				<key>y</key>
				<integer>294</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>render/fly/00010.png</key>
			<dict>
				<key>width</key>
				<integer>294</integer>
				<key>height</key>
				<integer>292</integer>
				<key>originalWidth</key>
				<integer>294</integer>
				<key>originalHeight</key>
				<integer>292</integer>
				<key>x</key>
				<integer>1184</integer>
				<key>y</key>
				<integer>294</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>render/fly/00011.png</key>
			<dict>
				<key>width</key>
				<integer>294</integer>
				<key>height</key>
				<integer>292</integer>
				<key>originalWidth</key>
				<integer>294</integer>
				<key>originalHeight</key>
				<integer>292</integer>
				<key>x</key>
				<integer>1480</integer>
				<key>y</key>
				<integer>294</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>render/fly/00012.png</key>
			<dict>
				<key>width</key>
				<integer>294</integer>
				<key>height</key>
				<integer>292</integer>
				<key>originalWidth</key>
				<integer>294</integer>
				<key>originalHeight</key>
				<integer>292</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>588</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>render/fly/00013.png</key>
			<dict>
				<key>width</key>
				<integer>294</integer>
				<key>height</key>
				<integer>292</integer>
				<key>originalWidth</key>
				<integer>294</integer>
				<key>originalHeight</key>
				<integer>292</integer>
				<key>x</key>
				<integer>296</integer>
				<key>y</key>
				<integer>588</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>render/fly/00014.png</key>
			<dict>
				<key>width</key>
				<integer>294</integer>
				<key>height</key>
				<integer>292</integer>
				<key>originalWidth</key>
				<integer>294</integer>
				<key>originalHeight</key>
				<integer>292</integer>
				<key>x</key>
				<integer>592</integer>
				<key>y</key>
				<integer>588</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>render/fly/00015.png</key>
			<dict>
				<key>width</key>
				<integer>294</integer>
				<key>height</key>
				<integer>292</integer>
				<key>originalWidth</key>
				<integer>294</integer>
				<key>originalHeight</key>
				<integer>292</integer>
				<key>x</key>
				<integer>888</integer>
				<key>y</key>
				<integer>588</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>render/fly/00016.png</key>
			<dict>
				<key>width</key>
				<integer>294</integer>
				<key>height</key>
				<integer>292</integer>
				<key>originalWidth</key>
				<integer>294</integer>
				<key>originalHeight</key>
				<integer>292</integer>
				<key>x</key>
				<integer>1184</integer>
				<key>y</key>
				<integer>588</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>render/fly/00017.png</key>
			<dict>
				<key>width</key>
				<integer>294</integer>
				<key>height</key>
				<integer>292</integer>
				<key>originalWidth</key>
				<integer>294</integer>
				<key>originalHeight</key>
				<integer>292</integer>
				<key>x</key>
				<integer>1480</integer>
				<key>y</key>
				<integer>588</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>render/fly/00018.png</key>
			<dict>
				<key>width</key>
				<integer>294</integer>
				<key>height</key>
				<integer>292</integer>
				<key>originalWidth</key>
				<integer>294</integer>
				<key>originalHeight</key>
				<integer>292</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>882</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>render/fly/00019.png</key>
			<dict>
				<key>width</key>
				<integer>294</integer>
				<key>height</key>
				<integer>292</integer>
				<key>originalWidth</key>
				<integer>294</integer>
				<key>originalHeight</key>
				<integer>292</integer>
				<key>x</key>
				<integer>296</integer>
				<key>y</key>
				<integer>882</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>render/fly/00020.png</key>
			<dict>
				<key>width</key>
				<integer>294</integer>
				<key>height</key>
				<integer>292</integer>
				<key>originalWidth</key>
				<integer>294</integer>
				<key>originalHeight</key>
				<integer>292</integer>
				<key>x</key>
				<integer>592</integer>
				<key>y</key>
				<integer>882</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>render/fly/00021.png</key>
			<dict>
				<key>width</key>
				<integer>294</integer>
				<key>height</key>
				<integer>292</integer>
				<key>originalWidth</key>
				<integer>294</integer>
				<key>originalHeight</key>
				<integer>292</integer>
				<key>x</key>
				<integer>888</integer>
				<key>y</key>
				<integer>882</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>render/fly/00022.png</key>
			<dict>
				<key>width</key>
				<integer>294</integer>
				<key>height</key>
				<integer>292</integer>
				<key>originalWidth</key>
				<integer>294</integer>
				<key>originalHeight</key>
				<integer>292</integer>
				<key>x</key>
				<integer>1184</integer>
				<key>y</key>
				<integer>882</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>render/flying/00000.png</key>
			<dict>
				<key>width</key>
				<integer>328</integer>
				<key>height</key>
				<integer>310</integer>
				<key>originalWidth</key>
				<integer>328</integer>
				<key>originalHeight</key>
				<integer>310</integer>
				<key>x</key>
				<integer>1480</integer>
				<key>y</key>
				<integer>882</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>render/flying/00001.png</key>
			<dict>
				<key>width</key>
				<integer>328</integer>
				<key>height</key>
				<integer>310</integer>
				<key>originalWidth</key>
				<integer>328</integer>
				<key>originalHeight</key>
				<integer>310</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1194</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>render/flying/00002.png</key>
			<dict>
				<key>width</key>
				<integer>328</integer>
				<key>height</key>
				<integer>310</integer>
				<key>originalWidth</key>
				<integer>328</integer>
				<key>originalHeight</key>
				<integer>310</integer>
				<key>x</key>
				<integer>330</integer>
				<key>y</key>
				<integer>1194</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>render/flying/00003.png</key>
			<dict>
				<key>width</key>
				<integer>328</integer>
				<key>height</key>
				<integer>310</integer>
				<key>originalWidth</key>
				<integer>328</integer>
				<key>originalHeight</key>
				<integer>310</integer>
				<key>x</key>
				<integer>660</integer>
				<key>y</key>
				<integer>1194</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>render/flying/00004.png</key>
			<dict>
				<key>width</key>
				<integer>328</integer>
				<key>height</key>
				<integer>310</integer>
				<key>originalWidth</key>
				<integer>328</integer>
				<key>originalHeight</key>
				<integer>310</integer>
				<key>x</key>
				<integer>990</integer>
				<key>y</key>
				<integer>1194</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>render/flying/00005.png</key>
			<dict>
				<key>width</key>
				<integer>328</integer>
				<key>height</key>
				<integer>310</integer>
				<key>originalWidth</key>
				<integer>328</integer>
				<key>originalHeight</key>
				<integer>310</integer>
				<key>x</key>
				<integer>1320</integer>
				<key>y</key>
				<integer>1194</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>render/flying/00006.png</key>
			<dict>
				<key>width</key>
				<integer>328</integer>
				<key>height</key>
				<integer>310</integer>
				<key>originalWidth</key>
				<integer>328</integer>
				<key>originalHeight</key>
				<integer>310</integer>
				<key>x</key>
				<integer>1650</integer>
				<key>y</key>
				<integer>1194</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>render/flying/00007.png</key>
			<dict>
				<key>width</key>
				<integer>328</integer>
				<key>height</key>
				<integer>310</integer>
				<key>originalWidth</key>
				<integer>328</integer>
				<key>originalHeight</key>
				<integer>310</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1506</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>render/flying/00008.png</key>
			<dict>
				<key>width</key>
				<integer>328</integer>
				<key>height</key>
				<integer>310</integer>
				<key>originalWidth</key>
				<integer>328</integer>
				<key>originalHeight</key>
				<integer>310</integer>
				<key>x</key>
				<integer>330</integer>
				<key>y</key>
				<integer>1506</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>render/flying/00009.png</key>
			<dict>
				<key>width</key>
				<integer>328</integer>
				<key>height</key>
				<integer>310</integer>
				<key>originalWidth</key>
				<integer>328</integer>
				<key>originalHeight</key>
				<integer>310</integer>
				<key>x</key>
				<integer>660</integer>
				<key>y</key>
				<integer>1506</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>render/idle/00000.png</key>
			<dict>
				<key>width</key>
				<integer>184</integer>
				<key>height</key>
				<integer>170</integer>
				<key>originalWidth</key>
				<integer>184</integer>
				<key>originalHeight</key>
				<integer>170</integer>
				<key>x</key>
				<integer>990</integer>
				<key>y</key>
				<integer>1506</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>render/idle/00001.png</key>
			<dict>
				<key>width</key>
				<integer>184</integer>
				<key>height</key>
				<integer>170</integer>
				<key>originalWidth</key>
				<integer>184</integer>
				<key>originalHeight</key>
				<integer>170</integer>
				<key>x</key>
				<integer>1176</integer>
				<key>y</key>
				<integer>1506</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>render/idle/00002.png</key>
			<dict>
				<key>width</key>
				<integer>184</integer>
				<key>height</key>
				<integer>170</integer>
				<key>originalWidth</key>
				<integer>184</integer>
				<key>originalHeight</key>
				<integer>170</integer>
				<key>x</key>
				<integer>1362</integer>
				<key>y</key>
				<integer>1506</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>render/idle/00003.png</key>
			<dict>
				<key>width</key>
				<integer>184</integer>
				<key>height</key>
				<integer>170</integer>
				<key>originalWidth</key>
				<integer>184</integer>
				<key>originalHeight</key>
				<integer>170</integer>
				<key>x</key>
				<integer>1548</integer>
				<key>y</key>
				<integer>1506</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>render/idle/00004.png</key>
			<dict>
				<key>width</key>
				<integer>184</integer>
				<key>height</key>
				<integer>170</integer>
				<key>originalWidth</key>
				<integer>184</integer>
				<key>originalHeight</key>
				<integer>170</integer>
				<key>x</key>
				<integer>1734</integer>
				<key>y</key>
				<integer>1506</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>render/idle/00005.png</key>
			<dict>
				<key>width</key>
				<integer>184</integer>
				<key>height</key>
				<integer>170</integer>
				<key>originalWidth</key>
				<integer>184</integer>
				<key>originalHeight</key>
				<integer>170</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1818</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>render/idle/00006.png</key>
			<dict>
				<key>width</key>
				<integer>184</integer>
				<key>height</key>
				<integer>170</integer>
				<key>originalWidth</key>
				<integer>184</integer>
				<key>originalHeight</key>
				<integer>170</integer>
				<key>x</key>
				<integer>186</integer>
				<key>y</key>
				<integer>1818</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>render/idle/00007.png</key>
			<dict>
				<key>width</key>
				<integer>184</integer>
				<key>height</key>
				<integer>170</integer>
				<key>originalWidth</key>
				<integer>184</integer>
				<key>originalHeight</key>
				<integer>170</integer>
				<key>x</key>
				<integer>372</integer>
				<key>y</key>
				<integer>1818</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>Red_dragon0.png</string>
			<key>realTextureFileName</key>
			<string>Red_dragon0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>