<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{336,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,229}}</string>
                <key>sourceSize</key>
                <string>{336,229}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,1016},{138,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,129}}</string>
                <key>sourceSize</key>
                <string>{138,129}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1903,1503},{118,125}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{118,125}}</string>
                <key>sourceSize</key>
                <string>{138,129}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1903,1623},{118,125}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{118,125}}</string>
                <key>sourceSize</key>
                <string>{138,129}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,1435},{118,125}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{118,125}}</string>
                <key>sourceSize</key>
                <string>{138,129}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1925,1230},{120,125}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{120,125}}</string>
                <key>sourceSize</key>
                <string>{138,129}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,1331},{120,125}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{120,125}}</string>
                <key>sourceSize</key>
                <string>{138,129}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,1453},{120,125}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{120,125}}</string>
                <key>sourceSize</key>
                <string>{138,129}</string>
            </dict>
            <key>academy.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1750},{214,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,220}}</string>
                <key>sourceSize</key>
                <string>{214,220}</string>
            </dict>
            <key>back_ground_256x207.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,880},{256,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{256,205}}</string>
                <key>sourceSize</key>
                <string>{256,207}</string>
            </dict>
            <key>barracks.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,881},{252,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,240}}</string>
                <key>sourceSize</key>
                <string>{252,240}</string>
            </dict>
            <key>blackSmith.png</key>
            <dict>
                <key>frame</key>
                <string>{{1679,1062},{208,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,244}}</string>
                <key>sourceSize</key>
                <string>{208,244}</string>
            </dict>
            <key>blueDragon_egg_176x192.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1734},{176,190}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{176,190}}</string>
                <key>sourceSize</key>
                <string>{176,192}</string>
            </dict>
            <key>dragonEyrie.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,2},{349,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,287}}</string>
                <key>sourceSize</key>
                <string>{349,287}</string>
            </dict>
            <key>draon_garrison_btn_d_82x86.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,646},{82,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,86}}</string>
                <key>sourceSize</key>
                <string>{82,86}</string>
            </dict>
            <key>draon_garrison_btn_n_82x86.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,734},{82,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,86}}</string>
                <key>sourceSize</key>
                <string>{82,86}</string>
            </dict>
            <key>dwelling_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1915,1357},{128,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,144}}</string>
                <key>sourceSize</key>
                <string>{128,144}</string>
            </dict>
            <key>dwelling_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,880},{132,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,150}}</string>
                <key>sourceSize</key>
                <string>{132,150}</string>
            </dict>
            <key>foundry.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,915},{258,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,254}}</string>
                <key>sourceSize</key>
                <string>{258,254}</string>
            </dict>
            <key>gacha_disk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,344},{302,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{302,300}}</string>
                <key>sourceSize</key>
                <string>{302,302}</string>
            </dict>
            <key>gacha_disk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{340,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,340}}</string>
                <key>sourceSize</key>
                <string>{340,340}</string>
            </dict>
            <key>gacha_disk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,291},{340,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,340}}</string>
                <key>sourceSize</key>
                <string>{340,340}</string>
            </dict>
            <key>gate_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1533},{198,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,212}}</string>
                <key>sourceSize</key>
                <string>{198,212}</string>
            </dict>
            <key>gate_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1323},{239,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,237}}</string>
                <key>sourceSize</key>
                <string>{239,237}</string>
            </dict>
            <key>greenDragon_egg_176x192.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,1239},{176,180}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{176,180}}</string>
                <key>sourceSize</key>
                <string>{176,192}</string>
            </dict>
            <key>hospital.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1022},{258,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,230}}</string>
                <key>sourceSize</key>
                <string>{258,230}</string>
            </dict>
            <key>hunterHall.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1087},{246,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,234}}</string>
                <key>sourceSize</key>
                <string>{246,234}</string>
            </dict>
            <key>keep_3_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1743},{184,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,240}}</string>
                <key>sourceSize</key>
                <string>{184,240}</string>
            </dict>
            <key>lock_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1926},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>locked_tile.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1533},{196,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,214}}</string>
                <key>sourceSize</key>
                <string>{196,214}</string>
            </dict>
            <key>lumbermill.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,646},{270,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,232}}</string>
                <key>sourceSize</key>
                <string>{270,232}</string>
            </dict>
            <key>materialDepot.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,1323},{198,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,236}}</string>
                <key>sourceSize</key>
                <string>{198,236}</string>
            </dict>
            <key>mill.png</key>
            <dict>
                <key>frame</key>
                <string>{{1683,824},{268,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,236}}</string>
                <key>sourceSize</key>
                <string>{268,236}</string>
            </dict>
            <key>miner_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1925,1100},{128,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,120}}</string>
                <key>sourceSize</key>
                <string>{128,120}</string>
            </dict>
            <key>player_btn_down_314x86.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,258},{314,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,86}}</string>
                <key>sourceSize</key>
                <string>{314,86}</string>
            </dict>
            <key>player_btn_up_314x86.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,283},{314,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,86}}</string>
                <key>sourceSize</key>
                <string>{314,86}</string>
            </dict>
            <key>quarrier_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,1032},{144,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,130}}</string>
                <key>sourceSize</key>
                <string>{144,130}</string>
            </dict>
            <key>ruin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,599},{132,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,90}}</string>
                <key>sourceSize</key>
                <string>{132,90}</string>
            </dict>
            <key>single_tree_3_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,733},{86,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,90}}</string>
                <key>sourceSize</key>
                <string>{86,90}</string>
            </dict>
            <key>stoneMason.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,880},{259,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,237}}</string>
                <key>sourceSize</key>
                <string>{259,237}</string>
            </dict>
            <key>toolShop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,1491},{228,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,232}}</string>
                <key>sourceSize</key>
                <string>{228,232}</string>
            </dict>
            <key>tower_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,1119},{118,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,183}}</string>
                <key>sourceSize</key>
                <string>{118,183}</string>
            </dict>
            <key>tower_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,1254},{118,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,178}}</string>
                <key>sourceSize</key>
                <string>{118,178}</string>
            </dict>
            <key>tower_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1926},{98,194}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,194}}</string>
                <key>sourceSize</key>
                <string>{110,194}</string>
            </dict>
            <key>tower_left_y_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,737},{298,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,283}}</string>
                <key>sourceSize</key>
                <string>{298,283}</string>
            </dict>
            <key>tower_left_y_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,633},{299,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,280}}</string>
                <key>sourceSize</key>
                <string>{299,280}</string>
            </dict>
            <key>tower_left_y_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,2},{321,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,279}}</string>
                <key>sourceSize</key>
                <string>{321,279}</string>
            </dict>
            <key>tower_right_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1855,1743},{94,191}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{94,191}}</string>
                <key>sourceSize</key>
                <string>{94,209}</string>
            </dict>
            <key>tower_right_x_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1721},{210,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,200}}</string>
                <key>sourceSize</key>
                <string>{210,200}</string>
            </dict>
            <key>tower_up_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,1171},{118,200}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{118,200}}</string>
                <key>sourceSize</key>
                <string>{118,220}</string>
            </dict>
            <key>tower_x_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,821},{89,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,193}}</string>
                <key>sourceSize</key>
                <string>{89,193}</string>
            </dict>
            <key>tower_x_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1953,910},{86,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,188}}</string>
                <key>sourceSize</key>
                <string>{86,188}</string>
            </dict>
            <key>tower_y_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1855,1839},{85,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,191}}</string>
                <key>sourceSize</key>
                <string>{85,191}</string>
            </dict>
            <key>townHall.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,599},{280,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,294}}</string>
                <key>sourceSize</key>
                <string>{280,294}</string>
            </dict>
            <key>tradeGuild.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,1123},{248,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,176}}</string>
                <key>sourceSize</key>
                <string>{248,176}</string>
            </dict>
            <key>trainingGround.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,628},{270,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,194}}</string>
                <key>sourceSize</key>
                <string>{270,194}</string>
            </dict>
            <key>trees_down_1_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,346},{309,251}}</string>
                <key>offset</key>
                <string>{66,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,78},{309,251}}</string>
                <key>sourceSize</key>
                <string>{467,329}</string>
            </dict>
            <key>trees_down_2_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1575},{185,157}}</string>
                <key>offset</key>
                <string>{5,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,172},{185,157}}</string>
                <key>sourceSize</key>
                <string>{467,329}</string>
            </dict>
            <key>trees_down_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,346},{309,251}}</string>
                <key>offset</key>
                <string>{66,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,78},{309,251}}</string>
                <key>sourceSize</key>
                <string>{467,329}</string>
            </dict>
            <key>trees_left_1_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,1272},{241,178}}</string>
                <key>offset</key>
                <string>{-115,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,109},{241,178}}</string>
                <key>sourceSize</key>
                <string>{491,352}</string>
            </dict>
            <key>trees_left_2_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,1266},{167,137}}</string>
                <key>offset</key>
                <string>{-140,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,87},{167,137}}</string>
                <key>sourceSize</key>
                <string>{467,329}</string>
            </dict>
            <key>trees_left_2_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,634},{289,244}}</string>
                <key>offset</key>
                <string>{-101,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{289,244}}</string>
                <key>sourceSize</key>
                <string>{491,352}</string>
            </dict>
            <key>trees_left_2_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1575},{179,161}}</string>
                <key>offset</key>
                <string>{-124,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,84},{179,161}}</string>
                <key>sourceSize</key>
                <string>{467,329}</string>
            </dict>
            <key>trees_right_1_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,1435},{197,156}}</string>
                <key>offset</key>
                <string>{113,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,119},{197,156}}</string>
                <key>sourceSize</key>
                <string>{491,352}</string>
            </dict>
            <key>trees_right_2_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{357,270}}</string>
                <key>offset</key>
                <string>{67,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,23},{357,270}}</string>
                <key>sourceSize</key>
                <string>{491,352}</string>
            </dict>
            <key>trees_up_1_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,1323},{233,208}}</string>
                <key>offset</key>
                <string>{-39,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,0},{233,208}}</string>
                <key>sourceSize</key>
                <string>{491,352}</string>
            </dict>
            <key>trees_up_1_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1687,371},{297,255}}</string>
                <key>offset</key>
                <string>{-85,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,255}}</string>
                <key>sourceSize</key>
                <string>{467,329}</string>
            </dict>
            <key>trees_up_1_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1289,1301},{243,188}}</string>
                <key>offset</key>
                <string>{-34,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,1},{243,188}}</string>
                <key>sourceSize</key>
                <string>{491,352}</string>
            </dict>
            <key>unlock_tile_surface_2_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,1156},{173,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,128}}</string>
                <key>sourceSize</key>
                <string>{173,128}</string>
            </dict>
            <key>unlock_tile_surface_2_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,2},{324,254}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,254}}</string>
                <key>sourceSize</key>
                <string>{340,258}</string>
            </dict>
            <key>unlock_tile_surface_4_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,2},{336,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,229}}</string>
                <key>sourceSize</key>
                <string>{336,229}</string>
            </dict>
            <key>unlock_tile_surface_5_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,1575},{173,99}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,99}}</string>
                <key>sourceSize</key>
                <string>{173,107}</string>
            </dict>
            <key>unlock_tile_surface_6_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,429},{296,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,203}}</string>
                <key>sourceSize</key>
                <string>{296,203}</string>
            </dict>
            <key>unlock_tile_surface_7_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,233},{320,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,194}}</string>
                <key>sourceSize</key>
                <string>{320,194}</string>
            </dict>
            <key>wall_x_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1956,766},{87,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,142}}</string>
                <key>sourceSize</key>
                <string>{87,142}</string>
            </dict>
            <key>wall_x_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1956,628},{88,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,136}}</string>
                <key>sourceSize</key>
                <string>{88,136}</string>
            </dict>
            <key>wall_y_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,1178},{86,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,140}}</string>
                <key>sourceSize</key>
                <string>{86,140}</string>
            </dict>
            <key>warehouse.png</key>
            <dict>
                <key>frame</key>
                <string>{{1621,1684},{232,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,214}}</string>
                <key>sourceSize</key>
                <string>{232,214}</string>
            </dict>
            <key>watchTower.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{230,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,348}}</string>
                <key>sourceSize</key>
                <string>{230,348}</string>
            </dict>
            <key>woodcutter_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,1171},{148,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,146}}</string>
                <key>sourceSize</key>
                <string>{148,146}</string>
            </dict>
            <key>workShop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1661,1452},{230,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,240}}</string>
                <key>sourceSize</key>
                <string>{230,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>city_2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2e5c4322cc394a99f48643a899c22db:3/3$</string>
            <key>textureFileName</key>
            <string>city_2.png</string>
        </dict>
    </dict>
</plist>
