<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>005.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,1434},{336,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,343}}</string>
                <key>sourceSize</key>
                <string>{336,343}</string>
            </dict>
            <key>007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1783},{264,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,262}}</string>
                <key>sourceSize</key>
                <string>{264,262}</string>
            </dict>
            <key>Fairground.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,975},{386,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,297}}</string>
                <key>sourceSize</key>
                <string>{386,297}</string>
            </dict>
            <key>airship.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1434},{238,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,346}}</string>
                <key>sourceSize</key>
                <string>{238,346}</string>
            </dict>
            <key>armyCamp.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,1782},{294,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,264}}</string>
                <key>sourceSize</key>
                <string>{294,264}</string>
            </dict>
            <key>farmer_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1767},{142,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,122}}</string>
                <key>sourceSize</key>
                <string>{142,122}</string>
            </dict>
            <key>farmer_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1911},{118,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,122}}</string>
                <key>sourceSize</key>
                <string>{118,122}</string>
            </dict>
            <key>gacha_disk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1139},{388,388}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,388}}</string>
                <key>sourceSize</key>
                <string>{388,388}</string>
            </dict>
            <key>gacha_disk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1783},{262,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{262,260}}</string>
                <key>sourceSize</key>
                <string>{262,262}</string>
            </dict>
            <key>gate_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1833,542},{197,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,213}}</string>
                <key>sourceSize</key>
                <string>{197,213}</string>
            </dict>
            <key>keep_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1411,440},{420,389}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,389}}</string>
                <key>sourceSize</key>
                <string>{420,389}</string>
            </dict>
            <key>keep_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,440},{436,436}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,436}}</string>
                <key>sourceSize</key>
                <string>{436,436}</string>
            </dict>
            <key>keep_2_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,1260},{172,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,230}}</string>
                <key>sourceSize</key>
                <string>{172,230}</string>
            </dict>
            <key>lake_1_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{493,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,267}}</string>
                <key>sourceSize</key>
                <string>{493,267}</string>
            </dict>
            <key>make_eq_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,2},{474,436}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,436}}</string>
                <key>sourceSize</key>
                <string>{474,436}</string>
            </dict>
            <key>make_eq_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,2},{452,436}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{452,436}}</string>
                <key>sourceSize</key>
                <string>{474,436}</string>
            </dict>
            <key>make_eq_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1411,831},{414,414}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,11},{414,414}}</string>
                <key>sourceSize</key>
                <string>{474,436}</string>
            </dict>
            <key>make_eq_bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1419},{362,362}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,37},{362,362}}</string>
                <key>sourceSize</key>
                <string>{474,436}</string>
            </dict>
            <key>quarrier_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1932,2},{118,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,112}}</string>
                <key>sourceSize</key>
                <string>{118,112}</string>
            </dict>
            <key>quarrier_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,1274},{150,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,158}}</string>
                <key>sourceSize</key>
                <string>{150,158}</string>
            </dict>
            <key>ruin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1932,402},{138,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,106}}</string>
                <key>sourceSize</key>
                <string>{138,106}</string>
            </dict>
            <key>single_tree_2_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,975},{85,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,104}}</string>
                <key>sourceSize</key>
                <string>{85,104}</string>
            </dict>
            <key>single_tree_4_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,1132},{76,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,119}}</string>
                <key>sourceSize</key>
                <string>{76,119}</string>
            </dict>
            <key>single_tree_4_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1833,440},{90,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,92}}</string>
                <key>sourceSize</key>
                <string>{90,92}</string>
            </dict>
            <key>stable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1529},{252,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,250}}</string>
                <key>sourceSize</key>
                <string>{252,250}</string>
            </dict>
            <key>tower_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1731,1247},{94,193}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{94,193}}</string>
                <key>sourceSize</key>
                <string>{94,211}</string>
            </dict>
            <key>tower_none_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,1253},{74,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,179}}</string>
                <key>sourceSize</key>
                <string>{74,179}</string>
            </dict>
            <key>tower_none_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,951},{76,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{76,179}}</string>
                <key>sourceSize</key>
                <string>{76,181}</string>
            </dict>
            <key>tower_none_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,712},{58,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,171}}</string>
                <key>sourceSize</key>
                <string>{58,171}</string>
            </dict>
            <key>tower_right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,1062},{100,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,196}}</string>
                <key>sourceSize</key>
                <string>{100,196}</string>
            </dict>
            <key>tower_up_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1827,1119},{170,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,217}}</string>
                <key>sourceSize</key>
                <string>{170,217}</string>
            </dict>
            <key>tower_y_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,1779},{90,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,188}}</string>
                <key>sourceSize</key>
                <string>{90,188}</string>
            </dict>
            <key>trees_down_1_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1865,1610},{181,170}}</string>
                <key>offset</key>
                <string>{-16,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,179},{181,170}}</string>
                <key>sourceSize</key>
                <string>{491,352}</string>
            </dict>
            <key>trees_down_2_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1113},{389,304}}</string>
                <key>offset</key>
                <string>{-51,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{389,304}}</string>
                <key>sourceSize</key>
                <string>{491,352}</string>
            </dict>
            <key>trees_down_2_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1827,930},{217,187}}</string>
                <key>offset</key>
                <string>{5,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,134},{217,187}}</string>
                <key>sourceSize</key>
                <string>{467,329}</string>
            </dict>
            <key>trees_down_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,839},{426,298}}</string>
                <key>offset</key>
                <string>{-32,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,56},{426,298}}</string>
                <key>sourceSize</key>
                <string>{510,354}</string>
            </dict>
            <key>trees_left_1_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,1274},{241,148}}</string>
                <key>offset</key>
                <string>{-125,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,112},{241,148}}</string>
                <key>sourceSize</key>
                <string>{491,352}</string>
            </dict>
            <key>trees_left_1_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,1610},{191,167}}</string>
                <key>offset</key>
                <string>{-138,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{191,167}}</string>
                <key>sourceSize</key>
                <string>{467,329}</string>
            </dict>
            <key>trees_left_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{494,354}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{494,354}}</string>
                <key>sourceSize</key>
                <string>{510,354}</string>
            </dict>
            <key>trees_right_1_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,1779},{267,281}}</string>
                <key>offset</key>
                <string>{100,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,13},{267,281}}</string>
                <key>sourceSize</key>
                <string>{467,329}</string>
            </dict>
            <key>trees_right_1_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,1782},{211,182}}</string>
                <key>offset</key>
                <string>{113,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,87},{211,182}}</string>
                <key>sourceSize</key>
                <string>{491,352}</string>
            </dict>
            <key>trees_right_2_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1833,741},{213,187}}</string>
                <key>offset</key>
                <string>{117,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,50},{213,187}}</string>
                <key>sourceSize</key>
                <string>{467,329}</string>
            </dict>
            <key>trees_right_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,551},{464,286}}</string>
                <key>offset</key>
                <string>{16,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,60},{464,286}}</string>
                <key>sourceSize</key>
                <string>{510,354}</string>
            </dict>
            <key>trees_up_2_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1499,1779},{271,266}}</string>
                <key>offset</key>
                <string>{-43,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,0},{271,266}}</string>
                <key>sourceSize</key>
                <string>{491,352}</string>
            </dict>
            <key>trees_up_2_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,1247},{205,185}}</string>
                <key>offset</key>
                <string>{-1,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,1},{205,185}}</string>
                <key>sourceSize</key>
                <string>{467,329}</string>
            </dict>
            <key>trees_up_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,358},{474,352}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{474,352}}</string>
                <key>sourceSize</key>
                <string>{510,354}</string>
            </dict>
            <key>unlock_road_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{502,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,278}}</string>
                <key>sourceSize</key>
                <string>{502,278}</string>
            </dict>
            <key>unlock_tile_surface_1_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,1434},{336,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,343}}</string>
                <key>sourceSize</key>
                <string>{336,343}</string>
            </dict>
            <key>unlock_tile_surface_1_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,951},{394,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,160}}</string>
                <key>sourceSize</key>
                <string>{394,160}</string>
            </dict>
            <key>unlock_tile_surface_1_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,712},{434,237}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,237}}</string>
                <key>sourceSize</key>
                <string>{450,239}</string>
            </dict>
            <key>unlock_tile_surface_3_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1783},{264,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,262}}</string>
                <key>sourceSize</key>
                <string>{264,262}</string>
            </dict>
            <key>unlock_tile_surface_4_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1932,122},{278,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,106}}</string>
                <key>sourceSize</key>
                <string>{278,106}</string>
            </dict>
            <key>unlock_tile_surface_5_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1827,1291},{317,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,216}}</string>
                <key>sourceSize</key>
                <string>{317,216}</string>
            </dict>
            <key>unlock_tile_surface_6_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,885},{77,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,55}}</string>
                <key>sourceSize</key>
                <string>{77,55}</string>
            </dict>
            <key>vip_bg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,878},{403,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,95}}</string>
                <key>sourceSize</key>
                <string>{403,95}</string>
            </dict>
            <key>wall_y_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1677},{88,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,136}}</string>
                <key>sourceSize</key>
                <string>{88,136}</string>
            </dict>
            <key>wall_y_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,1442},{94,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,152}}</string>
                <key>sourceSize</key>
                <string>{94,152}</string>
            </dict>
            <key>woodcutter_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1529},{146,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,136}}</string>
                <key>sourceSize</key>
                <string>{146,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>city_1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2e5c4322cc394a99f48643a899c22db:2/3$</string>
            <key>textureFileName</key>
            <string>city_1.png</string>
        </dict>
    </dict>
</plist>
