<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1860,2},{186,160}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,160}}</string>
                <key>sourceSize</key>
                <string>{198,160}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1739,1244},{112,125}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{112,125}}</string>
                <key>sourceSize</key>
                <string>{138,129}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1737,1930},{114,121}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{114,121}}</string>
                <key>sourceSize</key>
                <string>{138,129}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,1536},{112,123}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{112,123}}</string>
                <key>sourceSize</key>
                <string>{138,129}</string>
            </dict>
            <key>VIP_10_46x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,428},{46,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>VIP_1_46x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1860,2026},{20,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>VIP_2_46x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,677},{26,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>VIP_3_46x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,705},{26,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>VIP_4_46x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,647},{28,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>VIP_5_46x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,733},{26,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>VIP_6_46x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,761},{26,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>VIP_7_46x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,789},{26,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>VIP_8_46x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,817},{26,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>VIP_9_46x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,845},{26,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{46,32}</string>
            </dict>
            <key>battle_bg_desert_611x275.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,2},{611,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{611,275}}</string>
                <key>sourceSize</key>
                <string>{611,275}</string>
            </dict>
            <key>battle_bg_grass_611x275.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,151},{611,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{611,275}}</string>
                <key>sourceSize</key>
                <string>{611,275}</string>
            </dict>
            <key>battle_bg_iceField_611x275.png</key>
            <dict>
                <key>frame</key>
                <string>{{1241,279},{611,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{611,275}}</string>
                <key>sourceSize</key>
                <string>{611,275}</string>
            </dict>
            <key>box_617x147.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{617,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{617,147}}</string>
                <key>sourceSize</key>
                <string>{617,147}</string>
            </dict>
            <key>can_level_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,462},{22,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,42}}</string>
                <key>sourceSize</key>
                <string>{22,42}</string>
            </dict>
            <key>can_not_level_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,486},{22,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,42}}</string>
                <key>sourceSize</key>
                <string>{22,42}</string>
            </dict>
            <key>dragon_animate_bg_624x606.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{624,606}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,606}}</string>
                <key>sourceSize</key>
                <string>{624,606}</string>
            </dict>
            <key>dragon_star_40x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,583},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{36,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>dwelling_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,1536},{100,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,124}}</string>
                <key>sourceSize</key>
                <string>{100,124}</string>
            </dict>
            <key>farmer_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1675},{130,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,126}}</string>
                <key>sourceSize</key>
                <string>{130,126}</string>
            </dict>
            <key>keep_1_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,1493},{167,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,222}}</string>
                <key>sourceSize</key>
                <string>{167,222}</string>
            </dict>
            <key>keep_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,556},{480,526}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,526}}</string>
                <key>sourceSize</key>
                <string>{480,526}</string>
            </dict>
            <key>miner_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1536},{124,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,118}}</string>
                <key>sourceSize</key>
                <string>{124,118}</string>
            </dict>
            <key>miner_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1807},{130,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,126}}</string>
                <key>sourceSize</key>
                <string>{130,126}</string>
            </dict>
            <key>redDragon_egg_176x192.png</key>
            <dict>
                <key>frame</key>
                <string>{{1854,733},{176,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,192}}</string>
                <key>sourceSize</key>
                <string>{176,192}</string>
            </dict>
            <key>ruin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,966},{136,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,92}}</string>
                <key>sourceSize</key>
                <string>{136,92}</string>
            </dict>
            <key>single_tree_1_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,873},{91,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,93}}</string>
                <key>sourceSize</key>
                <string>{91,93}</string>
            </dict>
            <key>single_tree_1_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,747},{59,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,67}}</string>
                <key>sourceSize</key>
                <string>{59,67}</string>
            </dict>
            <key>single_tree_1_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,1536},{59,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,84}}</string>
                <key>sourceSize</key>
                <string>{59,84}</string>
            </dict>
            <key>single_tree_2_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,960},{65,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,87}}</string>
                <key>sourceSize</key>
                <string>{65,87}</string>
            </dict>
            <key>single_tree_2_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1536},{79,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,124}}</string>
                <key>sourceSize</key>
                <string>{79,124}</string>
            </dict>
            <key>single_tree_3_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1939},{88,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,106}}</string>
                <key>sourceSize</key>
                <string>{88,106}</string>
            </dict>
            <key>single_tree_3_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,1104},{92,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,125}}</string>
                <key>sourceSize</key>
                <string>{92,125}</string>
            </dict>
            <key>single_tree_4_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,873},{91,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,93}}</string>
                <key>sourceSize</key>
                <string>{91,93}</string>
            </dict>
            <key>skip.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,808},{150,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,66}}</string>
                <key>sourceSize</key>
                <string>{150,66}</string>
            </dict>
            <key>technology_magic_549x538.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{549,538}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{549,538}}</string>
                <key>sourceSize</key>
                <string>{549,538}</string>
            </dict>
            <key>tower_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1739,1070},{112,172}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,18},{112,172}}</string>
                <key>sourceSize</key>
                <string>{118,190}</string>
            </dict>
            <key>tower_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,556},{96,194}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,194}}</string>
                <key>sourceSize</key>
                <string>{110,194}</string>
            </dict>
            <key>tower_right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,752},{96,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,194}}</string>
                <key>sourceSize</key>
                <string>{96,194}</string>
            </dict>
            <key>tower_right_x_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1854,1029},{191,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,212}}</string>
                <key>sourceSize</key>
                <string>{191,212}</string>
            </dict>
            <key>tower_right_x_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1854,326},{192,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,204}}</string>
                <key>sourceSize</key>
                <string>{192,204}</string>
            </dict>
            <key>tower_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1854,911},{116,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,192}}</string>
                <key>sourceSize</key>
                <string>{116,192}</string>
            </dict>
            <key>tower_x_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,1475},{90,185}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{90,185}}</string>
                <key>sourceSize</key>
                <string>{92,203}</string>
            </dict>
            <key>tower_y_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1860,1930},{94,182}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{94,182}}</string>
                <key>sourceSize</key>
                <string>{94,200}</string>
            </dict>
            <key>trees_down_1_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1854,532},{199,192}}</string>
                <key>offset</key>
                <string>{-8,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,156},{199,192}}</string>
                <key>sourceSize</key>
                <string>{491,352}</string>
            </dict>
            <key>trees_down_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1662},{484,384}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{484,384}}</string>
                <key>sourceSize</key>
                <string>{510,412}</string>
            </dict>
            <key>trees_left_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1150},{484,384}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{484,384}}</string>
                <key>sourceSize</key>
                <string>{510,412}</string>
            </dict>
            <key>trees_right_2_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1853,1243},{193,173}}</string>
                <key>offset</key>
                <string>{117,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,64},{193,173}}</string>
                <key>sourceSize</key>
                <string>{467,329}</string>
            </dict>
            <key>trees_right_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1662},{482,384}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{482,384}}</string>
                <key>sourceSize</key>
                <string>{510,412}</string>
            </dict>
            <key>trees_up_2_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,1758},{177,153}}</string>
                <key>offset</key>
                <string>{18,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,0},{177,153}}</string>
                <key>sourceSize</key>
                <string>{467,329}</string>
            </dict>
            <key>trees_up_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,1662},{480,384}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{480,384}}</string>
                <key>sourceSize</key>
                <string>{510,412}</string>
            </dict>
            <key>unlock_road_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,1418},{510,308}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{510,308}}</string>
                <key>sourceSize</key>
                <string>{510,310}</string>
            </dict>
            <key>unlock_road_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,869},{510,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,310}}</string>
                <key>sourceSize</key>
                <string>{510,310}</string>
            </dict>
            <key>unlock_tile_1_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1227,1038},{510,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,310}}</string>
                <key>sourceSize</key>
                <string>{510,310}</string>
            </dict>
            <key>unlock_tile_1_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1181},{510,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,310}}</string>
                <key>sourceSize</key>
                <string>{510,310}</string>
            </dict>
            <key>unlock_tile_1_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,1350},{510,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,310}}</string>
                <key>sourceSize</key>
                <string>{510,310}</string>
            </dict>
            <key>unlock_tile_surface_2_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1860,164},{186,160}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,160}}</string>
                <key>sourceSize</key>
                <string>{198,160}</string>
            </dict>
            <key>unlock_tile_surface_3_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,610},{135,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,68}}</string>
                <key>sourceSize</key>
                <string>{135,68}</string>
            </dict>
            <key>unlock_tile_surface_3_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,428},{558,439}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,439}}</string>
                <key>sourceSize</key>
                <string>{558,439}</string>
            </dict>
            <key>unlock_tile_surface_4_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1493},{237,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,167}}</string>
                <key>sourceSize</key>
                <string>{237,167}</string>
            </dict>
            <key>vip_bg_110x124.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,1049},{61,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,85}}</string>
                <key>sourceSize</key>
                <string>{61,85}</string>
            </dict>
            <key>vip_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1223},{450,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,126}}</string>
                <key>sourceSize</key>
                <string>{450,126}</string>
            </dict>
            <key>vip_bg_disable_110x124.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,1136},{61,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,85}}</string>
                <key>sourceSize</key>
                <string>{61,85}</string>
            </dict>
            <key>vip_king_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,1965},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>vip_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,948},{96,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,120}}</string>
                <key>sourceSize</key>
                <string>{96,120}</string>
            </dict>
            <key>vip_lv_bar_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,510},{35,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,38}}</string>
                <key>sourceSize</key>
                <string>{35,38}</string>
            </dict>
            <key>vip_lv_bar_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,547},{34,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{34,38}</string>
            </dict>
            <key>vip_lv_bar_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,1939},{32,24}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{32,24}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>vip_lv_bar_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,621},{34,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,24}}</string>
                <key>sourceSize</key>
                <string>{34,24}</string>
            </dict>
            <key>vip_lv_bar_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,2026},{26,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,20}}</string>
                <key>sourceSize</key>
                <string>{26,20}</string>
            </dict>
            <key>vip_unlock_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,1231},{96,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,120}}</string>
                <key>sourceSize</key>
                <string>{96,120}</string>
            </dict>
            <key>vip_unlock_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,1353},{96,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,120}}</string>
                <key>sourceSize</key>
                <string>{96,120}</string>
            </dict>
            <key>wall_x_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,1662},{94,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,154}}</string>
                <key>sourceSize</key>
                <string>{94,154}</string>
            </dict>
            <key>woodcutter_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,1937},{150,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,108}}</string>
                <key>sourceSize</key>
                <string>{150,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>city_0.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2e5c4322cc394a99f48643a899c22db:1/3$</string>
            <key>textureFileName</key>
            <string>city_0.png</string>
        </dict>
    </dict>
</plist>
