<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>+.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,50},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>add_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,343},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>add_btn_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,343},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>crashed_airship_80x70.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,277},{80,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,70}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>forbear_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{110,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,112}}</string>
                <key>sourceSize</key>
                <string>{110,112}</string>
            </dict>
            <key>forbear_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,277},{108,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>keel_189x86.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,152},{189,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,86}}</string>
                <key>sourceSize</key>
                <string>{189,86}</string>
            </dict>
            <key>pve_char.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,148}}</string>
                <key>sourceSize</key>
                <string>{156,148}</string>
            </dict>
            <key>pve_icon_airship.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,114},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>pve_icon_bury.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,302},{42,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{42,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>pve_icon_contribute.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,290},{36,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{36,48}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>pve_icon_fight.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,232},{58,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{58,56}}</string>
                <key>sourceSize</key>
                <string>{60,62}</string>
            </dict>
            <key>pve_icon_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,359},{27,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,56}}</string>
                <key>sourceSize</key>
                <string>{27,56}</string>
            </dict>
            <key>pve_icon_floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,356},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>pve_icon_knowledge.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,178},{52,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{52,48}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>pve_icon_leave.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,302},{60,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{60,54}}</string>
                <key>sourceSize</key>
                <string>{60,62}</string>
            </dict>
            <key>pve_icon_life.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{32,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{32,46}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>pve_icon_searched.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>pve_icon_through.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,114},{48,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{48,62}}</string>
                <key>sourceSize</key>
                <string>{60,62}</string>
            </dict>
            <key>pve_move_icon_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,97},{178,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,78}}</string>
                <key>sourceSize</key>
                <string>{178,78}</string>
            </dict>
            <key>pve_move_icon_unlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,97},{178,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,78}}</string>
                <key>sourceSize</key>
                <string>{178,78}</string>
            </dict>
            <key>return_btn_down_202x93.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{202,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,93}}</string>
                <key>sourceSize</key>
                <string>{202,93}</string>
            </dict>
            <key>return_btn_up_202x93.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{202,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,93}}</string>
                <key>sourceSize</key>
                <string>{202,93}</string>
            </dict>
            <key>warriors_tomb_80x72.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,228},{80,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,72}}</string>
                <key>sourceSize</key>
                <string>{80,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pve_png_rgba5555.png</string>
            <key>size</key>
            <string>{512,388}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f42d917af74134370e53fb24261951ae:1/1$</string>
            <key>textureFileName</key>
            <string>pve_png_rgba5555.png</string>
        </dict>
    </dict>
</plist>
