<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Icon_wonder_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,878},{192,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>alliance_bloodSpring.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,962},{282,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,282}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>alliance_shrine_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1914},{119,140}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{119,140}}</string>
                <key>sourceSize</key>
                <string>{127,140}</string>
            </dict>
            <key>button_blue_normal_240X86.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1352},{240,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,86}}</string>
                <key>sourceSize</key>
                <string>{240,86}</string>
            </dict>
            <key>button_blue_normal_388X86.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1914},{388,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,86}}</string>
                <key>sourceSize</key>
                <string>{388,86}</string>
            </dict>
            <key>button_blue_pressed_240X86.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,962},{240,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,86}}</string>
                <key>sourceSize</key>
                <string>{240,86}</string>
            </dict>
            <key>button_blue_pressed_388X86.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1900},{388,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,86}}</string>
                <key>sourceSize</key>
                <string>{388,86}</string>
            </dict>
            <key>button_red_normal_388X86.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,962},{388,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,86}}</string>
                <key>sourceSize</key>
                <string>{388,86}</string>
            </dict>
            <key>city_terrain_desert_142x142.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1900},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>hill_1_desert_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,484},{476,466}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,14},{476,466}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>hill_1_grassLand_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1446},{466,460}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,20},{466,460}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>hill_2_grassLand_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{460,472}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{460,472}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>lake_2_grassLand_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1446},{450,452}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{450,452}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>lake_2_iceField_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{478,476}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{478,476}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>plus_right_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{432,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,480}}</string>
                <key>sourceSize</key>
                <string>{432,480}</string>
            </dict>
            <key>plus_right_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{444,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,480}}</string>
                <key>sourceSize</key>
                <string>{444,480}</string>
            </dict>
            <key>tree_1_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,2},{190,170}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,14},{190,170}}</string>
                <key>sourceSize</key>
                <string>{200,188}</string>
            </dict>
            <key>tree_2_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,1246},{198,178}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{198,178}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>tree_2_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,680},{196,180}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,180}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>tree_3_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1204},{203,179}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,179}}</string>
                <key>sourceSize</key>
                <string>{203,183}</string>
            </dict>
            <key>tree_3_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,680},{192,170}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,170}}</string>
                <key>sourceSize</key>
                <string>{200,170}</string>
            </dict>
            <key>tree_4_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,476},{202,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,197}}</string>
                <key>sourceSize</key>
                <string>{202,197}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>region_pvr1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f59fa33cd3cee5ebfabcd6d49a621644:2/2$</string>
            <key>textureFileName</key>
            <string>region_pvr1.png</string>
        </dict>
    </dict>
</plist>
