<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Icon_wonder_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,679},{206,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,196}}</string>
                <key>sourceSize</key>
                <string>{206,196}</string>
            </dict>
            <key>Icon_wonder_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,614},{192,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Icon_wonder_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,651},{192,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,198}}</string>
                <key>sourceSize</key>
                <string>{192,198}</string>
            </dict>
            <key>alliance_bloodSpring.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,808},{282,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,282}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>alliance_moonGate.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,256},{138,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,153}}</string>
                <key>sourceSize</key>
                <string>{138,153}</string>
            </dict>
            <key>alliance_orderHall.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{137,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,211}}</string>
                <key>sourceSize</key>
                <string>{137,211}</string>
            </dict>
            <key>alliance_palace.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,774},{210,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,237}}</string>
                <key>sourceSize</key>
                <string>{210,237}</string>
            </dict>
            <key>alliance_shire_stage_bg_554x130_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,310},{554,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,130}}</string>
                <key>sourceSize</key>
                <string>{554,130}</string>
            </dict>
            <key>alliance_shire_stage_bg_554x130_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,306},{554,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,130}}</string>
                <key>sourceSize</key>
                <string>{554,130}</string>
            </dict>
            <key>alliance_shire_stage_bg_554x130_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,178},{554,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,130}}</string>
                <key>sourceSize</key>
                <string>{554,130}</string>
            </dict>
            <key>alliance_shire_stage_soldier_shadow_128x107.png</key>
            <dict>
                <key>frame</key>
                <string>{{1885,2},{128,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,107}}</string>
                <key>sourceSize</key>
                <string>{128,107}</string>
            </dict>
            <key>alliance_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,229},{133,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,135}}</string>
                <key>sourceSize</key>
                <string>{133,135}</string>
            </dict>
            <key>alliance_shrine_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,168},{119,140}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{119,140}}</string>
                <key>sourceSize</key>
                <string>{127,140}</string>
            </dict>
            <key>alliance_shrine_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{55,96}}</string>
                <key>offset</key>
                <string>{-35,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,41},{55,96}}</string>
                <key>sourceSize</key>
                <string>{127,140}</string>
            </dict>
            <key>alliance_stage_lock_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>alliance_watchTower.png</key>
            <dict>
                <key>frame</key>
                <string>{{1883,111},{152,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,116}}</string>
                <key>sourceSize</key>
                <string>{152,116}</string>
            </dict>
            <key>back_ground_28x14_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{20,6}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{20,6}}</string>
                <key>sourceSize</key>
                <string>{28,14}</string>
            </dict>
            <key>back_ground_28x14_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{28,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,14}}</string>
                <key>sourceSize</key>
                <string>{28,14}</string>
            </dict>
            <key>back_ground_306x282.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,845},{306,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,282}}</string>
                <key>sourceSize</key>
                <string>{306,282}</string>
            </dict>
            <key>button_blue_normal_240X86.png</key>
            <dict>
                <key>frame</key>
                <string>{{1643,2},{240,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,86}}</string>
                <key>sourceSize</key>
                <string>{240,86}</string>
            </dict>
            <key>button_blue_normal_314X88.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,90},{314,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{314,86}}</string>
                <key>sourceSize</key>
                <string>{314,88}</string>
            </dict>
            <key>button_blue_normal_388X86.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{388,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,86}}</string>
                <key>sourceSize</key>
                <string>{388,86}</string>
            </dict>
            <key>button_blue_pressed_240X86.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,2},{240,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,86}}</string>
                <key>sourceSize</key>
                <string>{240,86}</string>
            </dict>
            <key>button_blue_pressed_314X88.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,80},{314,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{314,86}}</string>
                <key>sourceSize</key>
                <string>{314,88}</string>
            </dict>
            <key>button_blue_pressed_388X86.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,90},{388,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,86}}</string>
                <key>sourceSize</key>
                <string>{388,86}</string>
            </dict>
            <key>button_red_normal_314X88.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{314,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,86}}</string>
                <key>sourceSize</key>
                <string>{314,88}</string>
            </dict>
            <key>button_red_normal_388X86.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,90},{388,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,86}}</string>
                <key>sourceSize</key>
                <string>{388,86}</string>
            </dict>
            <key>button_red_pressed_314X88.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,2},{314,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,86}}</string>
                <key>sourceSize</key>
                <string>{314,88}</string>
            </dict>
            <key>button_red_pressed_388X86.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,2},{388,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,86}}</string>
                <key>sourceSize</key>
                <string>{388,86}</string>
            </dict>
            <key>city_terrain_desert_142x142.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,430},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>city_terrain_grassLand_142x142.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,396},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>city_terrain_iceField_142x142.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,395},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>cloud_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,878},{480,390}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,55},{480,390}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>hill_1_grassLand_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1538},{466,460}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{466,460}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>hill_2_grassLand_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,1576},{460,472}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,8},{460,472}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>lake_1_desert_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,1270},{480,448}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,448}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>lake_2_grassLand_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1420},{450,452}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,7},{450,452}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>my_keep_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,338},{150,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,139}}</string>
                <key>sourceSize</key>
                <string>{150,139}</string>
            </dict>
            <key>my_keep_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,438},{149,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,147}}</string>
                <key>sourceSize</key>
                <string>{149,147}</string>
            </dict>
            <key>my_keep_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,438},{155,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,169}}</string>
                <key>sourceSize</key>
                <string>{155,169}</string>
            </dict>
            <key>other_keep_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,289},{150,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,139}}</string>
                <key>sourceSize</key>
                <string>{150,139}</string>
            </dict>
            <key>other_keep_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,438},{149,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,147}}</string>
                <key>sourceSize</key>
                <string>{149,147}</string>
            </dict>
            <key>other_keep_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,438},{155,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,169}}</string>
                <key>sourceSize</key>
                <string>{155,169}</string>
            </dict>
            <key>other_orderHall.png</key>
            <dict>
                <key>frame</key>
                <string>{{1786,364},{137,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,205}}</string>
                <key>sourceSize</key>
                <string>{137,205}</string>
            </dict>
            <key>other_palace.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,774},{210,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,237}}</string>
                <key>sourceSize</key>
                <string>{210,237}</string>
            </dict>
            <key>other_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1665,203},{133,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,135}}</string>
                <key>sourceSize</key>
                <string>{133,135}</string>
            </dict>
            <key>plus_down1_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,2},{210,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,76}}</string>
                <key>sourceSize</key>
                <string>{210,76}</string>
            </dict>
            <key>plus_down1_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,178},{307,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,126}}</string>
                <key>sourceSize</key>
                <string>{307,126}</string>
            </dict>
            <key>plus_down1_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,178},{264,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,122}}</string>
                <key>sourceSize</key>
                <string>{264,122}</string>
            </dict>
            <key>plus_down2_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{217,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,62}}</string>
                <key>sourceSize</key>
                <string>{217,62}</string>
            </dict>
            <key>plus_down2_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,90},{151,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,111}}</string>
                <key>sourceSize</key>
                <string>{151,111}</string>
            </dict>
            <key>plus_down2_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,595},{359,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,177}}</string>
                <key>sourceSize</key>
                <string>{359,177}</string>
            </dict>
            <key>plus_right_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,986},{432,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,480}}</string>
                <key>sourceSize</key>
                <string>{432,480}</string>
            </dict>
            <key>plus_right_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1129},{445,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,480}}</string>
                <key>sourceSize</key>
                <string>{445,480}</string>
            </dict>
            <key>plus_right_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1092},{444,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,480}}</string>
                <key>sourceSize</key>
                <string>{444,480}</string>
            </dict>
            <key>tree_1_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,442},{190,170}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{190,170}}</string>
                <key>sourceSize</key>
                <string>{200,188}</string>
            </dict>
            <key>tree_1_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1770,679},{204,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,197}}</string>
                <key>sourceSize</key>
                <string>{204,197}</string>
            </dict>
            <key>tree_1_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,769},{198,215}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{198,215}}</string>
                <key>sourceSize</key>
                <string>{200,215}</string>
            </dict>
            <key>tree_2_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{198,178}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{198,178}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>tree_2_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,587},{196,180}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,180}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>tree_2_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,442},{196,170}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{196,170}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>tree_3_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,503},{194,174}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{194,174}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>tree_3_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,574},{203,179}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,179}}</string>
                <key>sourceSize</key>
                <string>{203,183}</string>
            </dict>
            <key>tree_3_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,479},{192,170}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,170}}</string>
                <key>sourceSize</key>
                <string>{200,170}</string>
            </dict>
            <key>tree_4_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1858,503},{188,174}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{188,174}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>tree_4_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{202,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,197}}</string>
                <key>sourceSize</key>
                <string>{202,197}</string>
            </dict>
            <key>tree_4_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,614},{200,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,180}}</string>
                <key>sourceSize</key>
                <string>{200,180}</string>
            </dict>
            <key>warriors_tomb_80x72.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,2},{80,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,72}}</string>
                <key>sourceSize</key>
                <string>{80,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>region_pvr.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c930a9bfbedee52ba185fae3eb8ecc7:1/1$</string>
            <key>textureFileName</key>
            <string>region_pvr.png</string>
        </dict>
    </dict>
</plist>
