<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_ground_540x64.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,122},{540,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,64}}</string>
                <key>sourceSize</key>
                <string>{540,64}</string>
            </dict>
            <key>back_ground_548x40_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,80},{548,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,40}}</string>
                <key>sourceSize</key>
                <string>{548,40}</string>
            </dict>
            <key>back_ground_548x40_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,110},{548,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,40}}</string>
                <key>sourceSize</key>
                <string>{548,40}</string>
            </dict>
            <key>back_ground_568x118.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{568,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,118}}</string>
                <key>sourceSize</key>
                <string>{568,118}</string>
            </dict>
            <key>back_ground_568x28_mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,2},{568,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,28}}</string>
                <key>sourceSize</key>
                <string>{568,28}</string>
            </dict>
            <key>back_ground_568x64.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{568,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,64}}</string>
                <key>sourceSize</key>
                <string>{568,64}</string>
            </dict>
            <key>background1_548x76.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{548,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,76}}</string>
                <key>sourceSize</key>
                <string>{548,76}</string>
            </dict>
            <key>background2_548x76.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,32},{548,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,76}}</string>
                <key>sourceSize</key>
                <string>{548,76}</string>
            </dict>
            <key>dark_blue_btn_down_534x44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,152},{534,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,44}}</string>
                <key>sourceSize</key>
                <string>{534,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_png_bg1.png</string>
            <key>size</key>
            <string>{1692,198}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65a8aabb79a81961bbb02a5ffb717113:2/2$</string>
            <key>textureFileName</key>
            <string>ui_png_bg1.png</string>
        </dict>
    </dict>
</plist>
