<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>alliance_evnets_title_548x50.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,632},{548,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,50}}</string>
                <key>sourceSize</key>
                <string>{548,50}</string>
            </dict>
            <key>alliance_item_flag_box_126X126.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,1751},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>alliance_notice_box_580x184.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,984},{580,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,184}}</string>
                <key>sourceSize</key>
                <string>{580,184}</string>
            </dict>
            <key>back_ground_104x132.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,1617},{104,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,132}}</string>
                <key>sourceSize</key>
                <string>{104,132}</string>
            </dict>
            <key>back_ground_122x20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1611,588},{122,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,20}}</string>
                <key>sourceSize</key>
                <string>{122,20}</string>
            </dict>
            <key>back_ground_124x28.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,1994},{124,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,28}}</string>
                <key>sourceSize</key>
                <string>{124,28}</string>
            </dict>
            <key>back_ground_130x166.png</key>
            <dict>
                <key>frame</key>
                <string>{{1449,1708},{130,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,166}}</string>
                <key>sourceSize</key>
                <string>{130,166}</string>
            </dict>
            <key>back_ground_130x34.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2004},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,34}}</string>
                <key>sourceSize</key>
                <string>{130,34}</string>
            </dict>
            <key>back_ground_166x84.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,2},{166,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,84}}</string>
                <key>sourceSize</key>
                <string>{166,84}</string>
            </dict>
            <key>back_ground_258x90.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1902},{258,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,90}}</string>
                <key>sourceSize</key>
                <string>{258,90}</string>
            </dict>
            <key>back_ground_284x128.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1754},{284,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,128}}</string>
                <key>sourceSize</key>
                <string>{284,128}</string>
            </dict>
            <key>back_ground_342x228.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,174},{342,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,228}}</string>
                <key>sourceSize</key>
                <string>{342,228}</string>
            </dict>
            <key>back_ground_398x97.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1761},{398,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,97}}</string>
                <key>sourceSize</key>
                <string>{398,97}</string>
            </dict>
            <key>back_ground_540x64.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,1138},{540,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,64}}</string>
                <key>sourceSize</key>
                <string>{540,64}</string>
            </dict>
            <key>back_ground_548x40_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,1240},{548,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,40}}</string>
                <key>sourceSize</key>
                <string>{548,40}</string>
            </dict>
            <key>back_ground_548x40_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1491,572},{548,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,40}}</string>
                <key>sourceSize</key>
                <string>{548,40}</string>
            </dict>
            <key>back_ground_564x74.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,1138},{564,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{564,74}}</string>
                <key>sourceSize</key>
                <string>{564,74}</string>
            </dict>
            <key>back_ground_568X128.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,929},{568,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,128}}</string>
                <key>sourceSize</key>
                <string>{568,128}</string>
            </dict>
            <key>back_ground_568X142.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,785},{568,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,142}}</string>
                <key>sourceSize</key>
                <string>{568,142}</string>
            </dict>
            <key>back_ground_568x110.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,2},{568,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,110}}</string>
                <key>sourceSize</key>
                <string>{568,110}</string>
            </dict>
            <key>back_ground_568x118.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1451},{568,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,118}}</string>
                <key>sourceSize</key>
                <string>{568,118}</string>
            </dict>
            <key>back_ground_568x150.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,480},{568,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,150}}</string>
                <key>sourceSize</key>
                <string>{568,150}</string>
            </dict>
            <key>back_ground_568x64.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,1138},{568,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,64}}</string>
                <key>sourceSize</key>
                <string>{568,64}</string>
            </dict>
            <key>back_ground_580x136.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1059},{580,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,136}}</string>
                <key>sourceSize</key>
                <string>{580,136}</string>
            </dict>
            <key>back_ground_608x350.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{608,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,350}}</string>
                <key>sourceSize</key>
                <string>{608,350}</string>
            </dict>
            <key>back_ground_83x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1958},{83,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,32}}</string>
                <key>sourceSize</key>
                <string>{83,32}</string>
            </dict>
            <key>background1_548x76.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,1240},{548,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,76}}</string>
                <key>sourceSize</key>
                <string>{548,76}</string>
            </dict>
            <key>background2_548x76.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,1197},{548,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,76}}</string>
                <key>sourceSize</key>
                <string>{548,76}</string>
            </dict>
            <key>background3_548x76.png</key>
            <dict>
                <key>frame</key>
                <string>{{1533,588},{548,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,76}}</string>
                <key>sourceSize</key>
                <string>{548,76}</string>
            </dict>
            <key>background_446x40.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1860},{446,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,40}}</string>
                <key>sourceSize</key>
                <string>{446,40}</string>
            </dict>
            <key>background_568x120.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1329},{568,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,120}}</string>
                <key>sourceSize</key>
                <string>{568,120}</string>
            </dict>
            <key>background_578X278.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,984},{578,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,278}}</string>
                <key>sourceSize</key>
                <string>{578,278}</string>
            </dict>
            <key>background_88x42.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,1571},{88,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,42}}</string>
                <key>sourceSize</key>
                <string>{88,42}</string>
            </dict>
            <key>box_426X126.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1566},{426,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,126}}</string>
                <key>sourceSize</key>
                <string>{426,126}</string>
            </dict>
            <key>box_620x628.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{620,628}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{620,628}}</string>
                <key>sourceSize</key>
                <string>{620,628}</string>
            </dict>
            <key>btn_bg_148x58.png</key>
            <dict>
                <key>frame</key>
                <string>{{1449,1978},{148,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,58}}</string>
                <key>sourceSize</key>
                <string>{148,58}</string>
            </dict>
            <key>centerDialog_100x144.png</key>
            <dict>
                <key>frame</key>
                <string>{{1449,1876},{100,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,140}}</string>
                <key>sourceSize</key>
                <string>{100,144}</string>
            </dict>
            <key>citizen_num_bg_170x714.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{170,714}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,714}}</string>
                <key>sourceSize</key>
                <string>{170,714}</string>
            </dict>
            <key>dark_blue_btn_down_176x44.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,1948},{176,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,44}}</string>
                <key>sourceSize</key>
                <string>{176,44}</string>
            </dict>
            <key>dark_blue_btn_down_534x44.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1571},{534,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,44}}</string>
                <key>sourceSize</key>
                <string>{534,44}</string>
            </dict>
            <key>dark_blue_btn_up_176x44.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,1902},{176,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,44}}</string>
                <key>sourceSize</key>
                <string>{176,44}</string>
            </dict>
            <key>dark_blue_btn_up_534x44.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1994},{534,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,44}}</string>
                <key>sourceSize</key>
                <string>{534,44}</string>
            </dict>
            <key>dragon_bg_114x114.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1902},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>dragon_info_bg_290x92.png</key>
            <dict>
                <key>frame</key>
                <string>{{1355,1708},{290,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,92}}</string>
                <key>sourceSize</key>
                <string>{290,92}</string>
            </dict>
            <key>drop_down_box_bg_572x304.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,174},{572,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,304}}</string>
                <key>sourceSize</key>
                <string>{572,304}</string>
            </dict>
            <key>faq_item_box_548x72.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,1138},{548,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,72}}</string>
                <key>sourceSize</key>
                <string>{548,72}</string>
            </dict>
            <key>flag_bg_130x168.png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,1790},{130,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,166}}</string>
                <key>sourceSize</key>
                <string>{130,166}</string>
            </dict>
            <key>head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,518},{720,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,91}}</string>
                <key>sourceSize</key>
                <string>{720,91}</string>
            </dict>
            <key>pve_background_568x151.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,632},{568,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,151}}</string>
                <key>sourceSize</key>
                <string>{568,151}</string>
            </dict>
            <key>pve_mark_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,1879},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>recommend_misson_bg_438x158.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1564},{438,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{438,158}}</string>
                <key>sourceSize</key>
                <string>{438,158}</string>
            </dict>
            <key>report_back_ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,2},{584,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{584,92}}</string>
                <key>sourceSize</key>
                <string>{584,92}</string>
            </dict>
            <key>res_info_bg_392x106.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1564},{392,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,106}}</string>
                <key>sourceSize</key>
                <string>{392,106}</string>
            </dict>
            <key>selena_tips_564x104.png</key>
            <dict>
                <key>frame</key>
                <string>{{1385,572},{564,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{564,104}}</string>
                <key>sourceSize</key>
                <string>{564,104}</string>
            </dict>
            <key>server_item_568x130.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1197},{568,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,130}}</string>
                <key>sourceSize</key>
                <string>{568,130}</string>
            </dict>
            <key>title_blue_600x56.png</key>
            <dict>
                <key>frame</key>
                <string>{{1327,518},{600,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,56}}</string>
                <key>sourceSize</key>
                <string>{600,56}</string>
            </dict>
            <key>top_bg_768x116.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,984},{768,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,116}}</string>
                <key>sourceSize</key>
                <string>{768,116}</string>
            </dict>
            <key>upgrade_next_level_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,1761},{129,96}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{129,96}}</string>
                <key>sourceSize</key>
                <string>{129,98}</string>
            </dict>
            <key>upgrade_resources_background_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1713},{520,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,46}}</string>
                <key>sourceSize</key>
                <string>{520,46}</string>
            </dict>
            <key>upgrade_resources_background_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1665},{520,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,46}}</string>
                <key>sourceSize</key>
                <string>{520,46}</string>
            </dict>
            <key>upgrade_resources_background_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1617},{520,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,46}}</string>
                <key>sourceSize</key>
                <string>{520,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_png_bg.png</string>
            <key>size</key>
            <string>{1636,2040}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d94ab4c27ab45c4f6d7d3e0549dd914:1/1$</string>
            <key>textureFileName</key>
            <string>ui_png_bg.png</string>
        </dict>
    </dict>
</plist>
