<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Cavalry_1_render/attack/10001.png</key>
			<dict>
				<key>width</key>
				<integer>542</integer>
				<key>height</key>
				<integer>292</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>292</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Cavalry_1_render/attack/10002.png</key>
			<dict>
				<key>width</key>
				<integer>542</integer>
				<key>height</key>
				<integer>292</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>292</integer>
				<key>x</key>
				<integer>542</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Cavalry_1_render/attack/10003.png</key>
			<dict>
				<key>width</key>
				<integer>542</integer>
				<key>height</key>
				<integer>292</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>292</integer>
				<key>x</key>
				<integer>1084</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Cavalry_1_render/attack/10004.png</key>
			<dict>
				<key>width</key>
				<integer>542</integer>
				<key>height</key>
				<integer>292</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>292</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>292</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Cavalry_1_render/attack/10005.png</key>
			<dict>
				<key>width</key>
				<integer>542</integer>
				<key>height</key>
				<integer>292</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>292</integer>
				<key>x</key>
				<integer>542</integer>
				<key>y</key>
				<integer>292</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Cavalry_1_render/attack/10006.png</key>
			<dict>
				<key>width</key>
				<integer>542</integer>
				<key>height</key>
				<integer>292</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>292</integer>
				<key>x</key>
				<integer>1084</integer>
				<key>y</key>
				<integer>292</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Cavalry_1_render/attack/10007.png</key>
			<dict>
				<key>width</key>
				<integer>542</integer>
				<key>height</key>
				<integer>292</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>292</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>584</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Cavalry_1_render/attack/10008.png</key>
			<dict>
				<key>width</key>
				<integer>542</integer>
				<key>height</key>
				<integer>292</integer>
				<key>originalWidth</key>
				<integer>542</integer>
				<key>originalHeight</key>
				<integer>292</integer>
				<key>x</key>
				<integer>542</integer>
				<key>y</key>
				<integer>584</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Cavalry_1_render/hurt/10001.png</key>
			<dict>
				<key>width</key>
				<integer>356</integer>
				<key>height</key>
				<integer>340</integer>
				<key>originalWidth</key>
				<integer>356</integer>
				<key>originalHeight</key>
				<integer>340</integer>
				<key>x</key>
				<integer>1084</integer>
				<key>y</key>
				<integer>584</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Cavalry_1_render/hurt/10002.png</key>
			<dict>
				<key>width</key>
				<integer>356</integer>
				<key>height</key>
				<integer>340</integer>
				<key>originalWidth</key>
				<integer>356</integer>
				<key>originalHeight</key>
				<integer>340</integer>
				<key>x</key>
				<integer>1440</integer>
				<key>y</key>
				<integer>584</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Cavalry_1_render/hurt/10003.png</key>
			<dict>
				<key>width</key>
				<integer>356</integer>
				<key>height</key>
				<integer>340</integer>
				<key>originalWidth</key>
				<integer>356</integer>
				<key>originalHeight</key>
				<integer>340</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>924</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Cavalry_1_render/hurt/10004.png</key>
			<dict>
				<key>width</key>
				<integer>356</integer>
				<key>height</key>
				<integer>340</integer>
				<key>originalWidth</key>
				<integer>356</integer>
				<key>originalHeight</key>
				<integer>340</integer>
				<key>x</key>
				<integer>356</integer>
				<key>y</key>
				<integer>924</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Cavalry_1_render/idle/1/00000.png</key>
			<dict>
				<key>width</key>
				<integer>197</integer>
				<key>height</key>
				<integer>281</integer>
				<key>originalWidth</key>
				<integer>197</integer>
				<key>originalHeight</key>
				<integer>281</integer>
				<key>x</key>
				<integer>712</integer>
				<key>y</key>
				<integer>924</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Cavalry_1_render/idle/1/00001.png</key>
			<dict>
				<key>width</key>
				<integer>197</integer>
				<key>height</key>
				<integer>281</integer>
				<key>originalWidth</key>
				<integer>197</integer>
				<key>originalHeight</key>
				<integer>281</integer>
				<key>x</key>
				<integer>909</integer>
				<key>y</key>
				<integer>924</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Cavalry_1_render/idle/1/00002.png</key>
			<dict>
				<key>width</key>
				<integer>197</integer>
				<key>height</key>
				<integer>281</integer>
				<key>originalWidth</key>
				<integer>197</integer>
				<key>originalHeight</key>
				<integer>281</integer>
				<key>x</key>
				<integer>1106</integer>
				<key>y</key>
				<integer>924</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Cavalry_1_render/idle/1/00003.png</key>
			<dict>
				<key>width</key>
				<integer>197</integer>
				<key>height</key>
				<integer>281</integer>
				<key>originalWidth</key>
				<integer>197</integer>
				<key>originalHeight</key>
				<integer>281</integer>
				<key>x</key>
				<integer>1303</integer>
				<key>y</key>
				<integer>924</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Cavalry_1_render/idle/1/00004.png</key>
			<dict>
				<key>width</key>
				<integer>197</integer>
				<key>height</key>
				<integer>281</integer>
				<key>originalWidth</key>
				<integer>197</integer>
				<key>originalHeight</key>
				<integer>281</integer>
				<key>x</key>
				<integer>1500</integer>
				<key>y</key>
				<integer>924</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Cavalry_1_render/idle/1/00005.png</key>
			<dict>
				<key>width</key>
				<integer>197</integer>
				<key>height</key>
				<integer>281</integer>
				<key>originalWidth</key>
				<integer>197</integer>
				<key>originalHeight</key>
				<integer>281</integer>
				<key>x</key>
				<integer>1697</integer>
				<key>y</key>
				<integer>924</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Cavalry_1_render/idle/1/00006.png</key>
			<dict>
				<key>width</key>
				<integer>197</integer>
				<key>height</key>
				<integer>281</integer>
				<key>originalWidth</key>
				<integer>197</integer>
				<key>originalHeight</key>
				<integer>281</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1264</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Cavalry_1_render/idle/1/00007.png</key>
			<dict>
				<key>width</key>
				<integer>197</integer>
				<key>height</key>
				<integer>281</integer>
				<key>originalWidth</key>
				<integer>197</integer>
				<key>originalHeight</key>
				<integer>281</integer>
				<key>x</key>
				<integer>197</integer>
				<key>y</key>
				<integer>1264</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Cavalry_1_render/idle/10000.png</key>
			<dict>
				<key>width</key>
				<integer>342</integer>
				<key>height</key>
				<integer>240</integer>
				<key>originalWidth</key>
				<integer>342</integer>
				<key>originalHeight</key>
				<integer>240</integer>
				<key>x</key>
				<integer>394</integer>
				<key>y</key>
				<integer>1264</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Cavalry_1_render/idle/10001.png</key>
			<dict>
				<key>width</key>
				<integer>342</integer>
				<key>height</key>
				<integer>240</integer>
				<key>originalWidth</key>
				<integer>342</integer>
				<key>originalHeight</key>
				<integer>240</integer>
				<key>x</key>
				<integer>736</integer>
				<key>y</key>
				<integer>1264</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Cavalry_1_render/idle/10002.png</key>
			<dict>
				<key>width</key>
				<integer>342</integer>
				<key>height</key>
				<integer>240</integer>
				<key>originalWidth</key>
				<integer>342</integer>
				<key>originalHeight</key>
				<integer>240</integer>
				<key>x</key>
				<integer>1078</integer>
				<key>y</key>
				<integer>1264</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Cavalry_1_render/idle/10003.png</key>
			<dict>
				<key>width</key>
				<integer>342</integer>
				<key>height</key>
				<integer>240</integer>
				<key>originalWidth</key>
				<integer>342</integer>
				<key>originalHeight</key>
				<integer>240</integer>
				<key>x</key>
				<integer>1420</integer>
				<key>y</key>
				<integer>1264</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Cavalry_1_render/idle/10004.png</key>
			<dict>
				<key>width</key>
				<integer>342</integer>
				<key>height</key>
				<integer>240</integer>
				<key>originalWidth</key>
				<integer>342</integer>
				<key>originalHeight</key>
				<integer>240</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1545</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Cavalry_1_render/idle/10005.png</key>
			<dict>
				<key>width</key>
				<integer>342</integer>
				<key>height</key>
				<integer>240</integer>
				<key>originalWidth</key>
				<integer>342</integer>
				<key>originalHeight</key>
				<integer>240</integer>
				<key>x</key>
				<integer>342</integer>
				<key>y</key>
				<integer>1545</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Cavalry_1_render/idle/10006.png</key>
			<dict>
				<key>width</key>
				<integer>342</integer>
				<key>height</key>
				<integer>240</integer>
				<key>originalWidth</key>
				<integer>342</integer>
				<key>originalHeight</key>
				<integer>240</integer>
				<key>x</key>
				<integer>684</integer>
				<key>y</key>
				<integer>1545</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Cavalry_1_render/idle/10007.png</key>
			<dict>
				<key>width</key>
				<integer>342</integer>
				<key>height</key>
				<integer>240</integer>
				<key>originalWidth</key>
				<integer>342</integer>
				<key>originalHeight</key>
				<integer>240</integer>
				<key>x</key>
				<integer>1026</integer>
				<key>y</key>
				<integer>1545</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Cavalry_1_render/move/1/00000.png</key>
			<dict>
				<key>width</key>
				<integer>206</integer>
				<key>height</key>
				<integer>260</integer>
				<key>originalWidth</key>
				<integer>206</integer>
				<key>originalHeight</key>
				<integer>260</integer>
				<key>x</key>
				<integer>1368</integer>
				<key>y</key>
				<integer>1545</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Cavalry_1_render/move/1/00001.png</key>
			<dict>
				<key>width</key>
				<integer>206</integer>
				<key>height</key>
				<integer>260</integer>
				<key>originalWidth</key>
				<integer>206</integer>
				<key>originalHeight</key>
				<integer>260</integer>
				<key>x</key>
				<integer>1574</integer>
				<key>y</key>
				<integer>1545</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>Cavalry_1_render/move/1/00002.png</key>
			<dict>
				<key>width</key>
				<integer>206</integer>
				<key>height</key>
				<integer>260</integer>
				<key>originalWidth</key>
				<integer>206</integer>
				<key>originalHeight</key>
				<integer>260</integer>
				<key>x</key>
				<integer>1780</integer>
				<key>y</key>
				<integer>1545</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>Cavalry_1_render0.png</string>
			<key>realTextureFileName</key>
			<string>Cavalry_1_render0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>