<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>root/black_dragon/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,1370},{392,388}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{392,388}}</string>
                <key>sourceSize</key>
                <string>{392,404}</string>
            </dict>
            <key>root/black_dragon/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,1530},{388,392}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{388,392}}</string>
                <key>sourceSize</key>
                <string>{392,404}</string>
            </dict>
            <key>root/black_dragon/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,394},{382,394}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{382,394}}</string>
                <key>sourceSize</key>
                <string>{392,404}</string>
            </dict>
            <key>root/black_dragon/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,1150},{378,394}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{378,394}}</string>
                <key>sourceSize</key>
                <string>{392,404}</string>
            </dict>
            <key>root/black_dragon/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1338},{374,396}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{374,396}}</string>
                <key>sourceSize</key>
                <string>{392,404}</string>
            </dict>
            <key>root/black_dragon/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,1000},{368,398}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{368,398}}</string>
                <key>sourceSize</key>
                <string>{392,404}</string>
            </dict>
            <key>root/black_dragon/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,778},{370,398}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{370,398}}</string>
                <key>sourceSize</key>
                <string>{392,404}</string>
            </dict>
            <key>root/black_dragon/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1332},{378,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{378,396}}</string>
                <key>sourceSize</key>
                <string>{392,404}</string>
            </dict>
            <key>root/black_dragon/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1324},{386,396}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{386,396}}</string>
                <key>sourceSize</key>
                <string>{392,404}</string>
            </dict>
            <key>root/black_dragon/00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,2},{390,392}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,12},{390,392}}</string>
                <key>sourceSize</key>
                <string>{392,404}</string>
            </dict>
            <key>root/blue_dragon/Fly/000018.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,1712},{382,322}}</string>
                <key>offset</key>
                <string>{-39,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,281},{382,322}}</string>
                <key>sourceSize</key>
                <string>{654,734}</string>
            </dict>
            <key>root/blue_dragon/Fly/000021.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,664},{404,332}}</string>
                <key>offset</key>
                <string>{-78,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,253},{404,332}}</string>
                <key>sourceSize</key>
                <string>{654,734}</string>
            </dict>
            <key>root/blue_dragon/Idle/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,2},{408,342}}</string>
                <key>offset</key>
                <string>{-118,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,219},{408,342}}</string>
                <key>sourceSize</key>
                <string>{654,734}</string>
            </dict>
            <key>root/blue_dragon/Idle/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,988},{402,342}}</string>
                <key>offset</key>
                <string>{-113,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,220},{402,342}}</string>
                <key>sourceSize</key>
                <string>{654,734}</string>
            </dict>
            <key>root/green_dragon/Fly/00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,328},{408,338}}</string>
                <key>offset</key>
                <string>{-43,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,294},{408,338}}</string>
                <key>sourceSize</key>
                <string>{688,768}</string>
            </dict>
            <key>root/green_dragon/Fly/00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,346},{408,326}}</string>
                <key>offset</key>
                <string>{-50,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,300},{408,326}}</string>
                <key>sourceSize</key>
                <string>{688,768}</string>
            </dict>
            <key>root/red_dragon/Fly/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1008},{398,328}}</string>
                <key>offset</key>
                <string>{-99,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,219},{398,328}}</string>
                <key>sourceSize</key>
                <string>{706,724}</string>
            </dict>
            <key>root/red_dragon/Fly/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{412,332}}</string>
                <key>offset</key>
                <string>{-85,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,221},{412,332}}</string>
                <key>sourceSize</key>
                <string>{706,724}</string>
            </dict>
            <key>root/red_dragon/Fly/00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1712},{394,328}}</string>
                <key>offset</key>
                <string>{-16,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,267},{394,328}}</string>
                <key>sourceSize</key>
                <string>{706,724}</string>
            </dict>
            <key>root/red_dragon/Fly/00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,668},{402,338}}</string>
                <key>offset</key>
                <string>{-31,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,251},{402,338}}</string>
                <key>sourceSize</key>
                <string>{706,724}</string>
            </dict>
            <key>root/red_dragon/Idle/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{412,326}}</string>
                <key>offset</key>
                <string>{-73,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,240},{412,326}}</string>
                <key>sourceSize</key>
                <string>{706,724}</string>
            </dict>
            <key>root/red_dragon/Idle/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{410,324}}</string>
                <key>offset</key>
                <string>{-74,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,240},{410,324}}</string>
                <key>sourceSize</key>
                <string>{706,724}</string>
            </dict>
            <key>root/red_dragon/Idle/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{406,324}}</string>
                <key>offset</key>
                <string>{-74,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,239},{406,324}}</string>
                <key>sourceSize</key>
                <string>{706,724}</string>
            </dict>
            <key>root/red_dragon/Idle/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,674},{400,324}}</string>
                <key>offset</key>
                <string>{-71,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,239},{400,324}}</string>
                <key>sourceSize</key>
                <string>{706,724}</string>
            </dict>
            <key>root/red_dragon/Idle/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,998},{402,324}}</string>
                <key>offset</key>
                <string>{-69,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,240},{402,324}}</string>
                <key>sourceSize</key>
                <string>{706,724}</string>
            </dict>
            <key>root/red_dragon/Idle/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,336},{408,326}}</string>
                <key>offset</key>
                <string>{-68,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,240},{408,326}}</string>
                <key>sourceSize</key>
                <string>{706,724}</string>
            </dict>
            <key>root/red_dragon/Idle/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{414,330}}</string>
                <key>offset</key>
                <string>{-69,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,239},{414,330}}</string>
                <key>sourceSize</key>
                <string>{706,724}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dragon_6.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:547d568f3271e0c6ae520c0256e38e0b:7/7$</string>
            <key>textureFileName</key>
            <string>dragon_6.png</string>
        </dict>
    </dict>
</plist>
