<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2018},{108,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,5}}</string>
                <key>sourceSize</key>
                <string>{108,5}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,490},{459,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{459,176}}</string>
                <key>sourceSize</key>
                <string>{459,176}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,1439},{53,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,86}}</string>
                <key>sourceSize</key>
                <string>{53,86}</string>
            </dict>
            <key>33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1972,1576},{289,66}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,67},{289,66}}</string>
                <key>sourceSize</key>
                <string>{459,194}</string>
            </dict>
            <key>55.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,978},{459,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{459,194}}</string>
                <key>sourceSize</key>
                <string>{459,194}</string>
            </dict>
            <key>66.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1982},{241,60}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,72},{241,60}}</string>
                <key>sourceSize</key>
                <string>{459,194}</string>
            </dict>
            <key>77.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,1494},{435,194}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{435,194}}</string>
                <key>sourceSize</key>
                <string>{459,194}</string>
            </dict>
            <key>88.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,1297},{413,194}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{413,194}}</string>
                <key>sourceSize</key>
                <string>{459,194}</string>
            </dict>
            <key>99.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,2},{443,194}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{443,194}}</string>
                <key>sourceSize</key>
                <string>{459,194}</string>
            </dict>
            <key>Cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,2},{345,293}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,293}}</string>
                <key>sourceSize</key>
                <string>{345,317}</string>
            </dict>
            <key>chengqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,252},{65,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,225}}</string>
                <key>sourceSize</key>
                <string>{65,225}</string>
            </dict>
            <key>chengqiang3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,1225},{69,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,143}}</string>
                <key>sourceSize</key>
                <string>{69,143}</string>
            </dict>
            <key>chengqiang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,319},{65,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,225}}</string>
                <key>sourceSize</key>
                <string>{65,225}</string>
            </dict>
            <key>chengqiang_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,386},{65,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,225}}</string>
                <key>sourceSize</key>
                <string>{65,225}</string>
            </dict>
            <key>chengqiang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1399,1931},{96,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,289}}</string>
                <key>sourceSize</key>
                <string>{96,289}</string>
            </dict>
            <key>chengqiang_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,1917},{96,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,289}}</string>
                <key>sourceSize</key>
                <string>{96,289}</string>
            </dict>
            <key>chengqiang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,1225},{69,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,143}}</string>
                <key>sourceSize</key>
                <string>{69,143}</string>
            </dict>
            <key>images/1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,1931},{110,114}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,75},{110,114}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>images/1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,1491},{154,166}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,45},{154,166}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>images/1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,1297},{192,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,23},{192,210}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>images/1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,2},{226,248}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,6},{226,248}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>images/1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,967},{246,256}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{246,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>images/1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,453},{256,248}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,248}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>images/1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,711},{247,254}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,254}}</string>
                <key>sourceSize</key>
                <string>{255,256}</string>
            </dict>
            <key>root/jin/a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{486,400}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,400}}</string>
                <key>sourceSize</key>
                <string>{488,400}</string>
            </dict>
            <key>root/lanse/a0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1677,297},{390,364}}</string>
                <key>offset</key>
                <string>{55,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,49},{390,364}}</string>
                <key>sourceSize</key>
                <string>{500,414}</string>
            </dict>
            <key>root/lanse/a0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1518},{492,414}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{492,414}}</string>
                <key>sourceSize</key>
                <string>{500,414}</string>
            </dict>
            <key>root/lanse/a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{500,410}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{500,410}}</string>
                <key>sourceSize</key>
                <string>{500,414}</string>
            </dict>
            <key>root/lvse/a0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,1006},{486,408}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{486,408}}</string>
                <key>sourceSize</key>
                <string>{498,408}</string>
            </dict>
            <key>root/lvse/a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1518},{498,404}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{498,404}}</string>
                <key>sourceSize</key>
                <string>{498,408}</string>
            </dict>
            <key>root/mu/a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,490},{486,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,400}}</string>
                <key>sourceSize</key>
                <string>{486,400}</string>
            </dict>
            <key>root/npc_nan/npc_nan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{446,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,512}}</string>
                <key>sourceSize</key>
                <string>{446,512}</string>
            </dict>
            <key>root/npc_nan/npc_nan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1203,1982},{60,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,82}}</string>
                <key>sourceSize</key>
                <string>{60,82}</string>
            </dict>
            <key>root/npc_nan/npc_nan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,951},{60,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,82}}</string>
                <key>sourceSize</key>
                <string>{60,82}</string>
            </dict>
            <key>root/npc_nan/npc_nan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,1035},{60,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,82}}</string>
                <key>sourceSize</key>
                <string>{60,82}</string>
            </dict>
            <key>root/npc_nan/npc_nan_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,1119},{60,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,82}}</string>
                <key>sourceSize</key>
                <string>{60,82}</string>
            </dict>
            <key>root/npv_nv/npc_nv_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1018},{337,492}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,492}}</string>
                <key>sourceSize</key>
                <string>{337,492}</string>
            </dict>
            <key>root/npv_nv/npc_nv_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,1647},{66,66}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,72}</string>
            </dict>
            <key>root/npv_nv/npc_nv_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,1982},{62,64}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{66,72}</string>
            </dict>
            <key>root/npv_nv/npc_nv_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,1982},{62,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,70}}</string>
                <key>sourceSize</key>
                <string>{66,72}</string>
            </dict>
            <key>root/npv_nv/npc_nv_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1981,1491},{83,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,65}}</string>
                <key>sourceSize</key>
                <string>{83,65}</string>
            </dict>
            <key>root/tong/a0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,689},{372,302}}</string>
                <key>offset</key>
                <string>{57,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,97},{372,302}}</string>
                <key>sourceSize</key>
                <string>{488,400}</string>
            </dict>
            <key>root/tong/a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,2},{486,400}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,400}}</string>
                <key>sourceSize</key>
                <string>{488,400}</string>
            </dict>
            <key>root/yin/a0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,993},{372,302}}</string>
                <key>offset</key>
                <string>{57,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,98},{372,302}}</string>
                <key>sourceSize</key>
                <string>{486,400}</string>
            </dict>
            <key>root/yin/a0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,1493},{422,380}}</string>
                <key>offset</key>
                <string>{31,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,20},{422,380}}</string>
                <key>sourceSize</key>
                <string>{486,400}</string>
            </dict>
            <key>root/yin/a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,1494},{486,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,400}}</string>
                <key>sourceSize</key>
                <string>{486,400}</string>
            </dict>
            <key>root/zise/a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,516},{488,412}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{488,412}}</string>
                <key>sourceSize</key>
                <string>{498,412}</string>
            </dict>
            <key>root/zise/a0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1018},{498,408}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{498,408}}</string>
                <key>sourceSize</key>
                <string>{498,412}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_animation_0.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef5b2e7350b299eb237a9e16f224835d:1/2$</string>
            <key>textureFileName</key>
            <string>ui_animation_0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
