<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Red.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{308,298}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{308,298}}</string>
                <key>sourceSize</key>
                <string>{316,304}</string>
            </dict>
            <key>images/1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,508},{226,248}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,6},{226,248}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>images/1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,302},{246,256}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{246,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>images/1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,258},{256,248}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,248}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>images/1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{256,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,254}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>images/1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{247,254}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,254}}</string>
                <key>sourceSize</key>
                <string>{255,256}</string>
            </dict>
            <key>root/jin/a0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{372,302}}</string>
                <key>offset</key>
                <string>{57,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,98},{372,302}}</string>
                <key>sourceSize</key>
                <string>{488,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_animation_1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6794030afc4688e9aff431002f56bc70:2/2$</string>
            <key>textureFileName</key>
            <string>ui_animation_1.png</string>
        </dict>
    </dict>
</plist>
