<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,306},{345,293}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{345,293}}</string>
                <key>sourceSize</key>
                <string>{345,317}</string>
            </dict>
            <key>images/1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{302,329}}</string>
                <key>offset</key>
                <string>{-23,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,36},{302,329}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>root/jin/a0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{372,302}}</string>
                <key>offset</key>
                <string>{57,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,98},{372,302}}</string>
                <key>sourceSize</key>
                <string>{488,400}</string>
            </dict>
            <key>root/mu/a0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{372,302}}</string>
                <key>offset</key>
                <string>{57,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,97},{372,302}}</string>
                <key>sourceSize</key>
                <string>{486,400}</string>
            </dict>
            <key>root/tong/a0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{372,302}}</string>
                <key>offset</key>
                <string>{57,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,97},{372,302}}</string>
                <key>sourceSize</key>
                <string>{488,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_animation_2.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c51f358098e0e0a119f0aa3397e42e21:3/3$</string>
            <key>textureFileName</key>
            <string>ui_animation_2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
