<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>root/bingying/guang/000000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,334},{172,96}}</string>
                <key>offset</key>
                <string>{-40,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,74},{172,96}}</string>
                <key>sourceSize</key>
                <string>{252,240}</string>
            </dict>
            <key>root/bingying/guang/000001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,432},{172,96}}</string>
                <key>offset</key>
                <string>{-40,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,74},{172,96}}</string>
                <key>sourceSize</key>
                <string>{252,240}</string>
            </dict>
            <key>root/bingying/guang/000002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,530},{172,96}}</string>
                <key>offset</key>
                <string>{-40,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,74},{172,96}}</string>
                <key>sourceSize</key>
                <string>{252,240}</string>
            </dict>
            <key>root/bingying/qizi/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,564},{190,126}}</string>
                <key>offset</key>
                <string>{-24,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,86},{190,126}}</string>
                <key>sourceSize</key>
                <string>{252,240}</string>
            </dict>
            <key>root/bingying/qizi/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,948},{188,126}}</string>
                <key>offset</key>
                <string>{-22,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,87},{188,126}}</string>
                <key>sourceSize</key>
                <string>{252,240}</string>
            </dict>
            <key>root/bingying/qizi/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,498},{188,128}}</string>
                <key>offset</key>
                <string>{-23,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,86},{188,128}}</string>
                <key>sourceSize</key>
                <string>{252,240}</string>
            </dict>
            <key>root/bingying/qizi/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,756},{190,128}}</string>
                <key>offset</key>
                <string>{-22,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,87},{190,128}}</string>
                <key>sourceSize</key>
                <string>{252,240}</string>
            </dict>
            <key>root/bingying/qizi/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,306},{190,128}}</string>
                <key>offset</key>
                <string>{-22,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,87},{190,128}}</string>
                <key>sourceSize</key>
                <string>{252,240}</string>
            </dict>
            <key>root/bingying/qizi/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,140},{192,128}}</string>
                <key>offset</key>
                <string>{-23,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,86},{192,128}}</string>
                <key>sourceSize</key>
                <string>{252,240}</string>
            </dict>
            <key>root/bingying/qizi/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,366},{196,126}}</string>
                <key>offset</key>
                <string>{-23,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,86},{196,126}}</string>
                <key>sourceSize</key>
                <string>{252,240}</string>
            </dict>
            <key>root/chuizi/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,688},{128,80}}</string>
                <key>offset</key>
                <string>{-38,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,56},{128,80}}</string>
                <key>sourceSize</key>
                <string>{206,136}</string>
            </dict>
            <key>root/chuizi/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,2},{144,136}}</string>
                <key>offset</key>
                <string>{-31,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,136}}</string>
                <key>sourceSize</key>
                <string>{206,136}</string>
            </dict>
            <key>root/chuizi/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,364},{192,114}}</string>
                <key>offset</key>
                <string>{6,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,22},{192,114}}</string>
                <key>sourceSize</key>
                <string>{206,136}</string>
            </dict>
            <key>root/chuizi/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,558},{78,114}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,0},{78,114}}</string>
                <key>sourceSize</key>
                <string>{206,136}</string>
            </dict>
            <key>root/feiting/b0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,726},{229,167}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,65},{229,167}}</string>
                <key>sourceSize</key>
                <string>{251,275}</string>
            </dict>
            <key>root/feiting/b0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,628},{227,171}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,64},{227,171}}</string>
                <key>sourceSize</key>
                <string>{251,275}</string>
            </dict>
            <key>root/feiting/b0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,770},{227,171}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,70},{227,171}}</string>
                <key>sourceSize</key>
                <string>{251,275}</string>
            </dict>
            <key>root/feiting/b0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,907},{225,183}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,64},{225,183}}</string>
                <key>sourceSize</key>
                <string>{251,275}</string>
            </dict>
            <key>root/feiting/b0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1860,1084},{223,185}}</string>
                <key>offset</key>
                <string>{-5,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,64},{223,185}}</string>
                <key>sourceSize</key>
                <string>{251,275}</string>
            </dict>
            <key>root/feiting/b0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1867,857},{225,179}}</string>
                <key>offset</key>
                <string>{-5,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,68},{225,179}}</string>
                <key>sourceSize</key>
                <string>{251,275}</string>
            </dict>
            <key>root/feiting/b0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1465,726},{227,179}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,62},{227,179}}</string>
                <key>sourceSize</key>
                <string>{251,275}</string>
            </dict>
            <key>root/feiting/b0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,895},{227,167}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,68},{227,167}}</string>
                <key>sourceSize</key>
                <string>{251,275}</string>
            </dict>
            <key>root/gezi/100000002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1972,1502},{70,70}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{70,70}}</string>
                <key>sourceSize</key>
                <string>{72,80}</string>
            </dict>
            <key>root/gezi/100000003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1972,1574},{66,70}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{66,70}}</string>
                <key>sourceSize</key>
                <string>{72,80}</string>
            </dict>
            <key>root/jin/a0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2},{372,302}}</string>
                <key>offset</key>
                <string>{57,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,98},{372,302}}</string>
                <key>sourceSize</key>
                <string>{488,400}</string>
            </dict>
            <key>root/lupai/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1244},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>root/lupai/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1244},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>root/lupai/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,1244},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>root/lupai/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1268},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>root/lvse/a0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{386,360}}</string>
                <key>offset</key>
                <string>{56,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,47},{386,360}}</string>
                <key>sourceSize</key>
                <string>{498,408}</string>
            </dict>
            <key>root/maoyihanghui/000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,306},{208,230}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{208,230}}</string>
                <key>sourceSize</key>
                <string>{248,234}</string>
            </dict>
            <key>root/maoyihanghui/001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,306},{208,230}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{208,230}}</string>
                <key>sourceSize</key>
                <string>{248,234}</string>
            </dict>
            <key>root/maoyihanghui/0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,306},{208,230}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{208,230}}</string>
                <key>sourceSize</key>
                <string>{248,234}</string>
            </dict>
            <key>root/maoyihanghui/002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,516},{208,230}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{208,230}}</string>
                <key>sourceSize</key>
                <string>{248,234}</string>
            </dict>
            <key>root/maoyihanghui/003.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,564},{208,230}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{208,230}}</string>
                <key>sourceSize</key>
                <string>{248,234}</string>
            </dict>
            <key>root/maoyihanghui/004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,516},{208,230}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{208,230}}</string>
                <key>sourceSize</key>
                <string>{248,234}</string>
            </dict>
            <key>root/maoyihanghui/005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,516},{208,230}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{208,230}}</string>
                <key>sourceSize</key>
                <string>{248,234}</string>
            </dict>
            <key>root/maoyihanghui/006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,726},{208,230}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{208,230}}</string>
                <key>sourceSize</key>
                <string>{248,234}</string>
            </dict>
            <key>root/maoyihanghui/007.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,774},{208,230}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{208,230}}</string>
                <key>sourceSize</key>
                <string>{248,234}</string>
            </dict>
            <key>root/maoyihanghui/008.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,868},{208,230}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{208,230}}</string>
                <key>sourceSize</key>
                <string>{248,234}</string>
            </dict>
            <key>root/maoyihanghui/009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1124},{208,230}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,1},{208,230}}</string>
                <key>sourceSize</key>
                <string>{248,234}</string>
            </dict>
            <key>root/mofang/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{250,260}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{250,260}}</string>
                <key>sourceSize</key>
                <string>{288,260}</string>
            </dict>
            <key>root/mofang/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{256,256}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{256,256}}</string>
                <key>sourceSize</key>
                <string>{288,260}</string>
            </dict>
            <key>root/mofang/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,622},{260,244}}</string>
                <key>offset</key>
                <string>{-13,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{260,244}}</string>
                <key>sourceSize</key>
                <string>{288,260}</string>
            </dict>
            <key>root/mofang/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{258,246}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{258,246}}</string>
                <key>sourceSize</key>
                <string>{288,260}</string>
            </dict>
            <key>root/mofang/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,306},{260,256}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{260,256}}</string>
                <key>sourceSize</key>
                <string>{288,260}</string>
            </dict>
            <key>root/mofang/00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,364},{256,260}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{256,260}}</string>
                <key>sourceSize</key>
                <string>{288,260}</string>
            </dict>
            <key>root/mu/a0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,2},{372,302}}</string>
                <key>offset</key>
                <string>{57,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,97},{372,302}}</string>
                <key>sourceSize</key>
                <string>{486,400}</string>
            </dict>
            <key>root/shizhenting/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,1104},{206,192}}</string>
                <key>offset</key>
                <string>{13,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,67},{206,192}}</string>
                <key>sourceSize</key>
                <string>{280,294}</string>
            </dict>
            <key>root/shizhenting/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,1152},{206,192}}</string>
                <key>offset</key>
                <string>{13,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,67},{206,192}}</string>
                <key>sourceSize</key>
                <string>{280,294}</string>
            </dict>
            <key>root/tong/a0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,2},{372,302}}</string>
                <key>offset</key>
                <string>{57,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,97},{372,302}}</string>
                <key>sourceSize</key>
                <string>{488,400}</string>
            </dict>
            <key>root/xueyuan/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,1138},{188,106}}</string>
                <key>offset</key>
                <string>{-13,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,118},{188,106}}</string>
                <key>sourceSize</key>
                <string>{214,224}</string>
            </dict>
            <key>root/xueyuan/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,1502},{188,106}}</string>
                <key>offset</key>
                <string>{-13,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,118},{188,106}}</string>
                <key>sourceSize</key>
                <string>{214,224}</string>
            </dict>
            <key>root/xueyuan/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,1570},{188,106}}</string>
                <key>offset</key>
                <string>{-13,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,118},{188,106}}</string>
                <key>sourceSize</key>
                <string>{214,224}</string>
            </dict>
            <key>root/yan/0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,1258},{198,187}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{198,187}}</string>
                <key>sourceSize</key>
                <string>{200,191}</string>
            </dict>
            <key>root/yan/0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,1379},{196,189}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{196,189}}</string>
                <key>sourceSize</key>
                <string>{200,191}</string>
            </dict>
            <key>root/yan/0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,1447},{196,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{196,189}}</string>
                <key>sourceSize</key>
                <string>{200,191}</string>
            </dict>
            <key>root/yan/0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,1309},{198,191}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,191}}</string>
                <key>sourceSize</key>
                <string>{200,191}</string>
            </dict>
            <key>root/yan/0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,1230},{198,191}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,191}}</string>
                <key>sourceSize</key>
                <string>{200,191}</string>
            </dict>
            <key>root/yan/0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,1423},{196,191}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,191}}</string>
                <key>sourceSize</key>
                <string>{200,191}</string>
            </dict>
            <key>root/yan/0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,1298},{198,191}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,191}}</string>
                <key>sourceSize</key>
                <string>{200,191}</string>
            </dict>
            <key>root/yewaiyindi/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,1610},{80,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,84}}</string>
                <key>sourceSize</key>
                <string>{80,84}</string>
            </dict>
            <key>root/yewaiyindi/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,1642},{80,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,84}}</string>
                <key>sourceSize</key>
                <string>{80,84}</string>
            </dict>
            <key>root/yiyuan/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,638},{208,106}}</string>
                <key>offset</key>
                <string>{-25,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,120},{208,106}}</string>
                <key>sourceSize</key>
                <string>{258,230}</string>
            </dict>
            <key>root/yiyuan/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,848},{208,106}}</string>
                <key>offset</key>
                <string>{-25,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,120},{208,106}}</string>
                <key>sourceSize</key>
                <string>{258,230}</string>
            </dict>
            <key>root/yiyuan/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1058},{208,106}}</string>
                <key>offset</key>
                <string>{-25,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,120},{208,106}}</string>
                <key>sourceSize</key>
                <string>{258,230}</string>
            </dict>
            <key>root/zhihuishi/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,1610},{80,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,98}}</string>
                <key>sourceSize</key>
                <string>{80,98}</string>
            </dict>
            <key>root/zise/a0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{388,362}}</string>
                <key>offset</key>
                <string>{55,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,48},{388,362}}</string>
                <key>sourceSize</key>
                <string>{498,412}</string>
            </dict>
            <key>root/ziyuancangku/000010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,999},{212,168}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,24},{212,168}}</string>
                <key>sourceSize</key>
                <string>{232,214}</string>
            </dict>
            <key>root/ziyuancangku/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,936},{212,166}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,25},{212,166}}</string>
                <key>sourceSize</key>
                <string>{232,214}</string>
            </dict>
            <key>root/ziyuancangku/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1078},{212,164}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,23},{212,164}}</string>
                <key>sourceSize</key>
                <string>{232,214}</string>
            </dict>
            <key>root/ziyuancangku/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,984},{212,166}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,21},{212,166}}</string>
                <key>sourceSize</key>
                <string>{232,214}</string>
            </dict>
            <key>root/ziyuancangku/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,1092},{206,164}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,23},{206,164}}</string>
                <key>sourceSize</key>
                <string>{232,214}</string>
            </dict>
            <key>root/ziyuancangku/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,1213},{206,164}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,23},{206,164}}</string>
                <key>sourceSize</key>
                <string>{232,214}</string>
            </dict>
            <key>root/ziyuancangku/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,1064},{212,164}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,23},{212,164}}</string>
                <key>sourceSize</key>
                <string>{232,214}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_building_1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd4d9004ab4c492259840e03d67ac258:2/2$</string>
            <key>textureFileName</key>
            <string>ui_building_1.png</string>
        </dict>
    </dict>
</plist>
