<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>dragon_red/flying/0/00003.png</key>
			<dict>
				<key>width</key>
				<integer>328</integer>
				<key>height</key>
				<integer>310</integer>
				<key>originalWidth</key>
				<integer>328</integer>
				<key>originalHeight</key>
				<integer>310</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dragon_red/flying/0/00004.png</key>
			<dict>
				<key>width</key>
				<integer>328</integer>
				<key>height</key>
				<integer>310</integer>
				<key>originalWidth</key>
				<integer>328</integer>
				<key>originalHeight</key>
				<integer>310</integer>
				<key>x</key>
				<integer>328</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dragon_red/flying/0/00005.png</key>
			<dict>
				<key>width</key>
				<integer>328</integer>
				<key>height</key>
				<integer>310</integer>
				<key>originalWidth</key>
				<integer>328</integer>
				<key>originalHeight</key>
				<integer>310</integer>
				<key>x</key>
				<integer>656</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dragon_red/flying/0/00006.png</key>
			<dict>
				<key>width</key>
				<integer>328</integer>
				<key>height</key>
				<integer>310</integer>
				<key>originalWidth</key>
				<integer>328</integer>
				<key>originalHeight</key>
				<integer>310</integer>
				<key>x</key>
				<integer>984</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dragon_red/flying/0/00007.png</key>
			<dict>
				<key>width</key>
				<integer>328</integer>
				<key>height</key>
				<integer>310</integer>
				<key>originalWidth</key>
				<integer>328</integer>
				<key>originalHeight</key>
				<integer>310</integer>
				<key>x</key>
				<integer>1312</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dragon_red/flying/0/00008.png</key>
			<dict>
				<key>width</key>
				<integer>328</integer>
				<key>height</key>
				<integer>310</integer>
				<key>originalWidth</key>
				<integer>328</integer>
				<key>originalHeight</key>
				<integer>310</integer>
				<key>x</key>
				<integer>1640</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dragon_red/flying/0/00009.png</key>
			<dict>
				<key>width</key>
				<integer>328</integer>
				<key>height</key>
				<integer>310</integer>
				<key>originalWidth</key>
				<integer>328</integer>
				<key>originalHeight</key>
				<integer>310</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>310</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dragon_red/flying/1/10000.png</key>
			<dict>
				<key>width</key>
				<integer>298</integer>
				<key>height</key>
				<integer>318</integer>
				<key>originalWidth</key>
				<integer>298</integer>
				<key>originalHeight</key>
				<integer>318</integer>
				<key>x</key>
				<integer>328</integer>
				<key>y</key>
				<integer>310</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dragon_red/flying/1/10001.png</key>
			<dict>
				<key>width</key>
				<integer>298</integer>
				<key>height</key>
				<integer>318</integer>
				<key>originalWidth</key>
				<integer>298</integer>
				<key>originalHeight</key>
				<integer>318</integer>
				<key>x</key>
				<integer>626</integer>
				<key>y</key>
				<integer>310</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dragon_red/flying/1/10002.png</key>
			<dict>
				<key>width</key>
				<integer>298</integer>
				<key>height</key>
				<integer>318</integer>
				<key>originalWidth</key>
				<integer>298</integer>
				<key>originalHeight</key>
				<integer>318</integer>
				<key>x</key>
				<integer>924</integer>
				<key>y</key>
				<integer>310</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dragon_red/flying/1/10003.png</key>
			<dict>
				<key>width</key>
				<integer>298</integer>
				<key>height</key>
				<integer>318</integer>
				<key>originalWidth</key>
				<integer>298</integer>
				<key>originalHeight</key>
				<integer>318</integer>
				<key>x</key>
				<integer>1222</integer>
				<key>y</key>
				<integer>310</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dragon_red/flying/1/10004.png</key>
			<dict>
				<key>width</key>
				<integer>298</integer>
				<key>height</key>
				<integer>318</integer>
				<key>originalWidth</key>
				<integer>298</integer>
				<key>originalHeight</key>
				<integer>318</integer>
				<key>x</key>
				<integer>1520</integer>
				<key>y</key>
				<integer>310</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dragon_red/flying/1/10005.png</key>
			<dict>
				<key>width</key>
				<integer>298</integer>
				<key>height</key>
				<integer>318</integer>
				<key>originalWidth</key>
				<integer>298</integer>
				<key>originalHeight</key>
				<integer>318</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>628</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dragon_red/flying/1/10006.png</key>
			<dict>
				<key>width</key>
				<integer>298</integer>
				<key>height</key>
				<integer>318</integer>
				<key>originalWidth</key>
				<integer>298</integer>
				<key>originalHeight</key>
				<integer>318</integer>
				<key>x</key>
				<integer>298</integer>
				<key>y</key>
				<integer>628</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dragon_red/flying/1/10007.png</key>
			<dict>
				<key>width</key>
				<integer>298</integer>
				<key>height</key>
				<integer>318</integer>
				<key>originalWidth</key>
				<integer>298</integer>
				<key>originalHeight</key>
				<integer>318</integer>
				<key>x</key>
				<integer>596</integer>
				<key>y</key>
				<integer>628</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dragon_red/flying/1/10008.png</key>
			<dict>
				<key>width</key>
				<integer>298</integer>
				<key>height</key>
				<integer>318</integer>
				<key>originalWidth</key>
				<integer>298</integer>
				<key>originalHeight</key>
				<integer>318</integer>
				<key>x</key>
				<integer>894</integer>
				<key>y</key>
				<integer>628</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dragon_red/flying/1/10009.png</key>
			<dict>
				<key>width</key>
				<integer>298</integer>
				<key>height</key>
				<integer>318</integer>
				<key>originalWidth</key>
				<integer>298</integer>
				<key>originalHeight</key>
				<integer>318</integer>
				<key>x</key>
				<integer>1192</integer>
				<key>y</key>
				<integer>628</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dragon_red/flying/2/20000.png</key>
			<dict>
				<key>width</key>
				<integer>342</integer>
				<key>height</key>
				<integer>316</integer>
				<key>originalWidth</key>
				<integer>342</integer>
				<key>originalHeight</key>
				<integer>316</integer>
				<key>x</key>
				<integer>1490</integer>
				<key>y</key>
				<integer>628</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dragon_red/flying/2/20001.png</key>
			<dict>
				<key>width</key>
				<integer>342</integer>
				<key>height</key>
				<integer>316</integer>
				<key>originalWidth</key>
				<integer>342</integer>
				<key>originalHeight</key>
				<integer>316</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>946</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dragon_red/flying/2/20002.png</key>
			<dict>
				<key>width</key>
				<integer>342</integer>
				<key>height</key>
				<integer>316</integer>
				<key>originalWidth</key>
				<integer>342</integer>
				<key>originalHeight</key>
				<integer>316</integer>
				<key>x</key>
				<integer>342</integer>
				<key>y</key>
				<integer>946</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dragon_red/flying/2/20003.png</key>
			<dict>
				<key>width</key>
				<integer>342</integer>
				<key>height</key>
				<integer>316</integer>
				<key>originalWidth</key>
				<integer>342</integer>
				<key>originalHeight</key>
				<integer>316</integer>
				<key>x</key>
				<integer>684</integer>
				<key>y</key>
				<integer>946</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dragon_red/flying/2/20004.png</key>
			<dict>
				<key>width</key>
				<integer>342</integer>
				<key>height</key>
				<integer>316</integer>
				<key>originalWidth</key>
				<integer>342</integer>
				<key>originalHeight</key>
				<integer>316</integer>
				<key>x</key>
				<integer>1026</integer>
				<key>y</key>
				<integer>946</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dragon_red/flying/2/20005.png</key>
			<dict>
				<key>width</key>
				<integer>342</integer>
				<key>height</key>
				<integer>316</integer>
				<key>originalWidth</key>
				<integer>342</integer>
				<key>originalHeight</key>
				<integer>316</integer>
				<key>x</key>
				<integer>1368</integer>
				<key>y</key>
				<integer>946</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dragon_red/flying/2/20006.png</key>
			<dict>
				<key>width</key>
				<integer>342</integer>
				<key>height</key>
				<integer>316</integer>
				<key>originalWidth</key>
				<integer>342</integer>
				<key>originalHeight</key>
				<integer>316</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1262</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dragon_red/flying/2/20007.png</key>
			<dict>
				<key>width</key>
				<integer>342</integer>
				<key>height</key>
				<integer>316</integer>
				<key>originalWidth</key>
				<integer>342</integer>
				<key>originalHeight</key>
				<integer>316</integer>
				<key>x</key>
				<integer>342</integer>
				<key>y</key>
				<integer>1262</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dragon_red/flying/2/20008.png</key>
			<dict>
				<key>width</key>
				<integer>342</integer>
				<key>height</key>
				<integer>316</integer>
				<key>originalWidth</key>
				<integer>342</integer>
				<key>originalHeight</key>
				<integer>316</integer>
				<key>x</key>
				<integer>684</integer>
				<key>y</key>
				<integer>1262</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dragon_red/flying/2/20009.png</key>
			<dict>
				<key>width</key>
				<integer>342</integer>
				<key>height</key>
				<integer>316</integer>
				<key>originalWidth</key>
				<integer>342</integer>
				<key>originalHeight</key>
				<integer>316</integer>
				<key>x</key>
				<integer>1026</integer>
				<key>y</key>
				<integer>1262</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dragon_red/idle/00000.png</key>
			<dict>
				<key>width</key>
				<integer>478</integer>
				<key>height</key>
				<integer>380</integer>
				<key>originalWidth</key>
				<integer>478</integer>
				<key>originalHeight</key>
				<integer>380</integer>
				<key>x</key>
				<integer>1368</integer>
				<key>y</key>
				<integer>1262</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dragon_red/idle/00001.png</key>
			<dict>
				<key>width</key>
				<integer>478</integer>
				<key>height</key>
				<integer>380</integer>
				<key>originalWidth</key>
				<integer>478</integer>
				<key>originalHeight</key>
				<integer>380</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1642</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dragon_red/idle/00002.png</key>
			<dict>
				<key>width</key>
				<integer>478</integer>
				<key>height</key>
				<integer>380</integer>
				<key>originalWidth</key>
				<integer>478</integer>
				<key>originalHeight</key>
				<integer>380</integer>
				<key>x</key>
				<integer>478</integer>
				<key>y</key>
				<integer>1642</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dragon_red/idle/00003.png</key>
			<dict>
				<key>width</key>
				<integer>478</integer>
				<key>height</key>
				<integer>380</integer>
				<key>originalWidth</key>
				<integer>478</integer>
				<key>originalHeight</key>
				<integer>380</integer>
				<key>x</key>
				<integer>956</integer>
				<key>y</key>
				<integer>1642</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>dragon_red/idle/00004.png</key>
			<dict>
				<key>width</key>
				<integer>478</integer>
				<key>height</key>
				<integer>380</integer>
				<key>originalWidth</key>
				<integer>478</integer>
				<key>originalHeight</key>
				<integer>380</integer>
				<key>x</key>
				<integer>1434</integer>
				<key>y</key>
				<integer>1642</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>dragon_red6.png</string>
			<key>realTextureFileName</key>
			<string>dragon_red6.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>