<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>root/lupai/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,102},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>root/lupai/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,182},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>root/lupai/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,262},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>root/lupai/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,198},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>root/yewaiyingdi/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{96,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>root/yewaiyingdi/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,262},{96,120}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{96,120}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>root/yewaiyingdi/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,100},{96,124}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{96,124}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>root/yewaiyingdi/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{96,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>root/yewaiyingdi/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,100},{96,122}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{96,122}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>root/yewaiyingdi/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,384},{96,116}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{96,116}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>root/yewaiyingdi/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>root/yewaiyingdi/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>root/yewaiyingdi/10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>root/zhihuishi/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{80,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,98}}</string>
                <key>sourceSize</key>
                <string>{80,98}</string>
            </dict>
            <key>root/zhihuishi/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,404},{80,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,98}}</string>
                <key>sourceSize</key>
                <string>{80,98}</string>
            </dict>
            <key>root/zhihuishi/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{80,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,98}}</string>
                <key>sourceSize</key>
                <string>{80,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>region_animation_0.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d47c0bbe77ffd635d608421ef73667db:1/1$</string>
            <key>textureFileName</key>
            <string>region_animation_0.png</string>
        </dict>
    </dict>
</plist>
