<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,140},{152,131}}</string>
                <key>offset</key>
                <string>{1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,75},{152,131}}</string>
                <key>sourceSize</key>
                <string>{182,221}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,177},{6,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{6,4}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,155}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,66},{182,155}}</string>
                <key>sourceSize</key>
                <string>{182,221}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{90,177}}</string>
                <key>offset</key>
                <string>{-3,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,0},{90,177}}</string>
                <key>sourceSize</key>
                <string>{182,221}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,140},{34,95}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,54},{34,95}}</string>
                <key>sourceSize</key>
                <string>{182,221}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,159},{8,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{8,6}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,140},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,183},{4,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{4,6}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,140},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,169},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{6,6}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>root/longpengquan/00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,2},{174,136}}</string>
                <key>offset</key>
                <string>{-32,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,135},{174,136}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>root/longpengquan/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,94},{174,136}}</string>
                <key>offset</key>
                <string>{-32,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,135},{174,136}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>root/longpengquan/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{174,136}}</string>
                <key>offset</key>
                <string>{-32,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,135},{174,136}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>root/longpengquan/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,2},{174,136}}</string>
                <key>offset</key>
                <string>{-33,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,135},{174,136}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>root/longpengquan/00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,2},{174,136}}</string>
                <key>offset</key>
                <string>{-33,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,135},{174,136}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>root/longpengquan/00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,140},{174,136}}</string>
                <key>offset</key>
                <string>{-33,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,135},{174,136}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>root/longpengquan/00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,232},{174,136}}</string>
                <key>offset</key>
                <string>{-32,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,135},{174,136}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>root/longpengquan/00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,297},{174,136}}</string>
                <key>offset</key>
                <string>{-32,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,135},{174,136}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>root/lupai/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,378},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>root/lupai/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,396},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>root/lupai/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,396},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>root/lupai/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,371},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>root/yewaiyingdi/10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,273},{96,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>root/yewaiyingdi/10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,370},{96,120}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{96,120}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>root/yewaiyingdi/10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,2},{96,124}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{96,124}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>root/yewaiyingdi/10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,278},{96,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{96,130}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>root/yewaiyingdi/10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,100},{96,122}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{96,122}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>root/yewaiyingdi/10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,435},{96,116}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{96,116}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>root/yewaiyingdi/10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,140},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>root/yewaiyingdi/10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,198},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>root/yewaiyingdi/10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,238},{96,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,132}}</string>
                <key>sourceSize</key>
                <string>{96,132}</string>
            </dict>
            <key>root/zhihuishi/00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,296},{80,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,98}}</string>
                <key>sourceSize</key>
                <string>{80,98}</string>
            </dict>
            <key>root/zhihuishi/00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,296},{80,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,98}}</string>
                <key>sourceSize</key>
                <string>{80,98}</string>
            </dict>
            <key>root/zhihuishi/00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,336},{80,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,98}}</string>
                <key>sourceSize</key>
                <string>{80,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>region_animation_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f962d7bbdb264fb626cad79c9b80befd:1/1$</string>
            <key>textureFileName</key>
            <string>region_animation_0.png</string>
        </dict>
    </dict>
</plist>
