<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,2},{395,176}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{395,176}}</string>
                <key>sourceSize</key>
                <string>{459,176}</string>
            </dict>
            <key>Blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{308,304}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{308,304}}</string>
                <key>sourceSize</key>
                <string>{316,304}</string>
            </dict>
            <key>Red.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{308,298}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{308,298}}</string>
                <key>sourceSize</key>
                <string>{316,304}</string>
            </dict>
            <key>images/1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,382},{256,254}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,254}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>root/jin/a0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1671,2},{372,302}}</string>
                <key>offset</key>
                <string>{57,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,98},{372,302}}</string>
                <key>sourceSize</key>
                <string>{488,400}</string>
            </dict>
            <key>root/jin/a0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{422,380}}</string>
                <key>offset</key>
                <string>{31,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,20},{422,380}}</string>
                <key>sourceSize</key>
                <string>{488,400}</string>
            </dict>
            <key>root/lvse/a0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,382},{386,360}}</string>
                <key>offset</key>
                <string>{56,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,47},{386,360}}</string>
                <key>sourceSize</key>
                <string>{498,408}</string>
            </dict>
            <key>root/mu/a0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,306},{372,302}}</string>
                <key>offset</key>
                <string>{57,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,97},{372,302}}</string>
                <key>sourceSize</key>
                <string>{486,400}</string>
            </dict>
            <key>root/mu/a0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{422,378}}</string>
                <key>offset</key>
                <string>{31,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,21},{422,378}}</string>
                <key>sourceSize</key>
                <string>{486,400}</string>
            </dict>
            <key>root/tong/a0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2},{422,378}}</string>
                <key>offset</key>
                <string>{31,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,21},{422,378}}</string>
                <key>sourceSize</key>
                <string>{488,400}</string>
            </dict>
            <key>root/zise/a0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,180},{388,362}}</string>
                <key>offset</key>
                <string>{55,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,48},{388,362}}</string>
                <key>sourceSize</key>
                <string>{498,412}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_animation_1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5a74e347245c8fc3675c8b433d965fd:2/2$</string>
            <key>textureFileName</key>
            <string>ui_animation_1.png</string>
        </dict>
    </dict>
</plist>
