<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,475},{459,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{459,176}}</string>
                <key>sourceSize</key>
                <string>{459,176}</string>
            </dict>
            <key>33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1944,372},{289,66}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,67},{289,66}}</string>
                <key>sourceSize</key>
                <string>{459,194}</string>
            </dict>
            <key>55.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,663},{459,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{459,194}}</string>
                <key>sourceSize</key>
                <string>{459,194}</string>
            </dict>
            <key>66.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,653},{241,60}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,72},{241,60}}</string>
                <key>sourceSize</key>
                <string>{459,194}</string>
            </dict>
            <key>Background_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1944,293},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>chengqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{65,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,225}}</string>
                <key>sourceSize</key>
                <string>{65,225}</string>
            </dict>
            <key>chengqiang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,404},{65,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,225}}</string>
                <key>sourceSize</key>
                <string>{65,225}</string>
            </dict>
            <key>chengqiang_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,404},{65,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,225}}</string>
                <key>sourceSize</key>
                <string>{65,225}</string>
            </dict>
            <key>chengqiang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1944,2},{96,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,289}}</string>
                <key>sourceSize</key>
                <string>{96,289}</string>
            </dict>
            <key>dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,404},{401,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,454}}</string>
                <key>sourceSize</key>
                <string>{401,454}</string>
            </dict>
            <key>guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,2},{476,471}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,471}}</string>
                <key>sourceSize</key>
                <string>{476,471}</string>
            </dict>
            <key>images/1_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,1575},{368,403}}</string>
                <key>offset</key>
                <string>{-13,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{368,403}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1575},{378,409}}</string>
                <key>offset</key>
                <string>{-11,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{378,409}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,1187},{386,413}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,413}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1443,855},{386,417}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{386,417}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,946},{368,421}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{368,421}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,1609},{374,389}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,37},{374,389}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,1456},{382,399}}</string>
                <key>offset</key>
                <string>{10,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,33},{382,399}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1575},{384,403}}</string>
                <key>offset</key>
                <string>{10,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,32},{384,403}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,694},{234,233}}</string>
                <key>offset</key>
                <string>{-44,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,119},{234,233}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,471},{216,221}}</string>
                <key>offset</key>
                <string>{-32,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,105},{216,221}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,1152},{302,329}}</string>
                <key>offset</key>
                <string>{-23,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,36},{302,329}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>jinji_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,715},{229,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,231}}</string>
                <key>sourceSize</key>
                <string>{229,231}</string>
            </dict>
            <key>root/jin/a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{486,400}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,400}}</string>
                <key>sourceSize</key>
                <string>{488,400}</string>
            </dict>
            <key>root/lanse/a0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,1243},{390,364}}</string>
                <key>offset</key>
                <string>{55,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,49},{390,364}}</string>
                <key>sourceSize</key>
                <string>{500,414}</string>
            </dict>
            <key>root/mu/a0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1443,475},{422,378}}</string>
                <key>offset</key>
                <string>{31,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,21},{422,378}}</string>
                <key>sourceSize</key>
                <string>{486,400}</string>
            </dict>
            <key>root/mu/a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{486,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,400}}</string>
                <key>sourceSize</key>
                <string>{486,400}</string>
            </dict>
            <key>root/tong/a0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,404},{372,302}}</string>
                <key>offset</key>
                <string>{57,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,97},{372,302}}</string>
                <key>sourceSize</key>
                <string>{488,400}</string>
            </dict>
            <key>root/tong/a0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,807},{422,378}}</string>
                <key>offset</key>
                <string>{31,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,21},{422,378}}</string>
                <key>sourceSize</key>
                <string>{488,400}</string>
            </dict>
            <key>root/tong/a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,2},{486,400}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,400}}</string>
                <key>sourceSize</key>
                <string>{488,400}</string>
            </dict>
            <key>root/yin/a0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,778},{372,302}}</string>
                <key>offset</key>
                <string>{57,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,98},{372,302}}</string>
                <key>sourceSize</key>
                <string>{486,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_animation_1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a02477c0121d54b8e06852c24d9a7e4f:2/3$</string>
            <key>textureFileName</key>
            <string>ui_animation_1.png</string>
        </dict>
    </dict>
</plist>
