<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1649,450},{108,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,5}}</string>
                <key>sourceSize</key>
                <string>{108,5}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1156},{53,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,86}}</string>
                <key>sourceSize</key>
                <string>{53,86}</string>
            </dict>
            <key>44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1637,1718},{395,176}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{395,176}}</string>
                <key>sourceSize</key>
                <string>{459,176}</string>
            </dict>
            <key>77.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1274},{435,194}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{435,194}}</string>
                <key>sourceSize</key>
                <string>{459,194}</string>
            </dict>
            <key>88.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1301},{413,194}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{413,194}}</string>
                <key>sourceSize</key>
                <string>{459,194}</string>
            </dict>
            <key>99.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,1687},{443,194}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{443,194}}</string>
                <key>sourceSize</key>
                <string>{459,194}</string>
            </dict>
            <key>Background_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,1539},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>Background_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1156},{58,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,73}}</string>
                <key>sourceSize</key>
                <string>{58,73}</string>
            </dict>
            <key>Background_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,525},{109,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,37}}</string>
                <key>sourceSize</key>
                <string>{109,37}</string>
            </dict>
            <key>Background_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1156},{109,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,37}}</string>
                <key>sourceSize</key>
                <string>{109,37}</string>
            </dict>
            <key>Background_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,576},{144,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,138}}</string>
                <key>sourceSize</key>
                <string>{144,138}</string>
            </dict>
            <key>Background_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,1539},{144,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,138}}</string>
                <key>sourceSize</key>
                <string>{144,138}</string>
            </dict>
            <key>Blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1398},{303,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,303}}</string>
                <key>sourceSize</key>
                <string>{303,303}</string>
            </dict>
            <key>Line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,554},{2,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,275}}</string>
                <key>sourceSize</key>
                <string>{2,275}</string>
            </dict>
            <key>Line_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,450},{2,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,275}}</string>
                <key>sourceSize</key>
                <string>{2,275}</string>
            </dict>
            <key>Red.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,1382},{303,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,303}}</string>
                <key>sourceSize</key>
                <string>{303,303}</string>
            </dict>
            <key>chengqiang3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,716},{69,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,143}}</string>
                <key>sourceSize</key>
                <string>{69,143}</string>
            </dict>
            <key>chengqiang_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1712,1896},{96,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,289}}</string>
                <key>sourceSize</key>
                <string>{96,289}</string>
            </dict>
            <key>chengqiang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1156},{69,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,143}}</string>
                <key>sourceSize</key>
                <string>{69,143}</string>
            </dict>
            <key>hong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1121,265},{26,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,287}}</string>
                <key>sourceSize</key>
                <string>{26,287}</string>
            </dict>
            <key>images/1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1301},{98,95}}</string>
                <key>offset</key>
                <string>{-43,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,189},{98,95}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,1687},{356,391}}</string>
                <key>offset</key>
                <string>{-15,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{356,391}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1649,850},{378,395}}</string>
                <key>offset</key>
                <string>{9,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,34},{378,395}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,1274},{370,411}}</string>
                <key>offset</key>
                <string>{-17,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{370,411}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,1274},{246,263}}</string>
                <key>offset</key>
                <string>{-28,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,77},{246,263}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1718},{324,353}}</string>
                <key>offset</key>
                <string>{-20,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,23},{324,353}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>images/1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1703},{342,373}}</string>
                <key>offset</key>
                <string>{-17,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,13},{342,373}}</string>
                <key>sourceSize</key>
                <string>{404,435}</string>
            </dict>
            <key>jinji_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1712,1994},{227,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,33}}</string>
                <key>sourceSize</key>
                <string>{227,33}</string>
            </dict>
            <key>jinji_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,411},{113,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,112}}</string>
                <key>sourceSize</key>
                <string>{113,112}</string>
            </dict>
            <key>jinji_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,1156},{77,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,104}}</string>
                <key>sourceSize</key>
                <string>{77,104}</string>
            </dict>
            <key>jinji_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1121,152},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>jinji_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1121,554},{22,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{22,20}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>jinji_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,1718},{324,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,65}}</string>
                <key>sourceSize</key>
                <string>{324,65}</string>
            </dict>
            <key>jinji_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{615,407}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,407}}</string>
                <key>sourceSize</key>
                <string>{615,407}</string>
            </dict>
            <key>jinji_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,2},{531,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{531,148}}</string>
                <key>sourceSize</key>
                <string>{531,148}</string>
            </dict>
            <key>lOSE.png</key>
            <dict>
                <key>frame</key>
                <string>{{1121,182},{81,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,27}}</string>
                <key>sourceSize</key>
                <string>{81,27}</string>
            </dict>
            <key>root/jin/a0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,2},{422,380}}</string>
                <key>offset</key>
                <string>{31,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,20},{422,380}}</string>
                <key>sourceSize</key>
                <string>{488,400}</string>
            </dict>
            <key>root/lanse/a0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,564},{492,414}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{492,414}}</string>
                <key>sourceSize</key>
                <string>{500,414}</string>
            </dict>
            <key>root/lanse/a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,152},{500,410}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{500,410}}</string>
                <key>sourceSize</key>
                <string>{500,414}</string>
            </dict>
            <key>root/lvse/a0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,1230},{486,408}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{486,408}}</string>
                <key>sourceSize</key>
                <string>{498,408}</string>
            </dict>
            <key>root/lvse/a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,411},{498,404}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{498,404}}</string>
                <key>sourceSize</key>
                <string>{498,408}</string>
            </dict>
            <key>root/npc_nan/npc_nan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,2},{446,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,512}}</string>
                <key>sourceSize</key>
                <string>{446,512}</string>
            </dict>
            <key>root/npc_nan/npc_nan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,1896},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>root/npc_nan/npc_nan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,1896},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>root/npc_nan/npc_nan_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,1896},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>root/npc_nan/npc_nan_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,1896},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>root/npv_nv/npc_nv_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,817},{337,492}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,492}}</string>
                <key>sourceSize</key>
                <string>{337,492}</string>
            </dict>
            <key>root/npv_nv/npc_nv_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,831},{140,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,150}}</string>
                <key>sourceSize</key>
                <string>{140,150}</string>
            </dict>
            <key>root/npv_nv/npc_nv_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,973},{140,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,150}}</string>
                <key>sourceSize</key>
                <string>{140,150}</string>
            </dict>
            <key>root/npv_nv/npc_nv_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1156},{140,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,150}}</string>
                <key>sourceSize</key>
                <string>{140,150}</string>
            </dict>
            <key>root/npv_nv/npc_nv_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,1115},{140,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,150}}</string>
                <key>sourceSize</key>
                <string>{140,150}</string>
            </dict>
            <key>root/yin/a0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,426},{422,380}}</string>
                <key>offset</key>
                <string>{31,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,20},{422,380}}</string>
                <key>sourceSize</key>
                <string>{486,400}</string>
            </dict>
            <key>root/yin/a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,980},{486,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,400}}</string>
                <key>sourceSize</key>
                <string>{486,400}</string>
            </dict>
            <key>root/zise/a0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,860},{488,412}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{488,412}}</string>
                <key>sourceSize</key>
                <string>{498,412}</string>
            </dict>
            <key>root/zise/a0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1149,450},{498,408}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{498,408}}</string>
                <key>sourceSize</key>
                <string>{498,412}</string>
            </dict>
            <key>win.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,787},{85,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,39}}</string>
                <key>sourceSize</key>
                <string>{85,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_animation_0.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d5828b38f2e9b7611060162827362f4:1/3$</string>
            <key>textureFileName</key>
            <string>ui_animation_0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
