<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_11x24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,1829},{11,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,24}}</string>
                <key>sourceSize</key>
                <string>{11,24}</string>
            </dict>
            <key>4_32x24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2014,1507},{32,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,24}}</string>
                <key>sourceSize</key>
                <string>{32,24}</string>
            </dict>
            <key>Stars_bar_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,309},{21,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,18}}</string>
                <key>sourceSize</key>
                <string>{21,18}</string>
            </dict>
            <key>alliance_event_type_green_222x30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1829,1818},{222,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,30}}</string>
                <key>sourceSize</key>
                <string>{222,30}</string>
            </dict>
            <key>alliance_evnets_title_548x50.png</key>
            <dict>
                <key>frame</key>
                <string>{{1309,984},{548,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,50}}</string>
                <key>sourceSize</key>
                <string>{548,50}</string>
            </dict>
            <key>alliance_flag_base_84x89.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,1534},{84,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,89}}</string>
                <key>sourceSize</key>
                <string>{84,89}</string>
            </dict>
            <key>alliance_flag_body_106x126_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,1945},{104,100}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{104,100}}</string>
                <key>sourceSize</key>
                <string>{106,126}</string>
            </dict>
            <key>alliance_flag_body_106x126_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1325,1625},{54,124}}</string>
                <key>offset</key>
                <string>{-26,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,124}}</string>
                <key>sourceSize</key>
                <string>{106,126}</string>
            </dict>
            <key>alliance_flag_button_n_92x88.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,1534},{92,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,88}}</string>
                <key>sourceSize</key>
                <string>{92,88}</string>
            </dict>
            <key>alliance_shire_stage_soldier_shadow_128x107.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,1625},{128,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,107}}</string>
                <key>sourceSize</key>
                <string>{128,107}</string>
            </dict>
            <key>back_ground_166x84.png</key>
            <dict>
                <key>frame</key>
                <string>{{1961,1818},{166,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,84}}</string>
                <key>sourceSize</key>
                <string>{166,84}</string>
            </dict>
            <key>back_ground_284x128.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,1625},{284,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,128}}</string>
                <key>sourceSize</key>
                <string>{284,128}</string>
            </dict>
            <key>back_ground_28x14_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1361,994},{20,6}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{20,6}}</string>
                <key>sourceSize</key>
                <string>{28,14}</string>
            </dict>
            <key>back_ground_608X98.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1947},{608,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{608,98}}</string>
                <key>sourceSize</key>
                <string>{608,98}</string>
            </dict>
            <key>back_ground_83x32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1861,1952},{83,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,32}}</string>
                <key>sourceSize</key>
                <string>{83,32}</string>
            </dict>
            <key>back_ground_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,985},{960,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,334}}</string>
                <key>sourceSize</key>
                <string>{960,334}</string>
            </dict>
            <key>back_ground_grassLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,985},{960,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,334}}</string>
                <key>sourceSize</key>
                <string>{960,334}</string>
            </dict>
            <key>back_ground_iceField.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,2},{960,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,334}}</string>
                <key>sourceSize</key>
                <string>{960,334}</string>
            </dict>
            <key>background1_548x76.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,984},{548,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,76}}</string>
                <key>sourceSize</key>
                <string>{548,76}</string>
            </dict>
            <key>background2_548x76.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,984},{548,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,76}}</string>
                <key>sourceSize</key>
                <string>{548,76}</string>
            </dict>
            <key>background3_548x76.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,984},{548,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,76}}</string>
                <key>sourceSize</key>
                <string>{548,76}</string>
            </dict>
            <key>blue_line_130x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2041,1218},{130,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,1}}</string>
                <key>sourceSize</key>
                <string>{130,1}</string>
            </dict>
            <key>bottom_bg_768x136.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,985},{768,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,136}}</string>
                <key>sourceSize</key>
                <string>{768,136}</string>
            </dict>
            <key>box_118x118.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,1414},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>brown_btn_down_132x98.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1947},{132,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,98}}</string>
                <key>sourceSize</key>
                <string>{132,98}</string>
            </dict>
            <key>brown_btn_up_132x98.png</key>
            <dict>
                <key>frame</key>
                <string>{{1861,1818},{132,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,98}}</string>
                <key>sourceSize</key>
                <string>{132,98}</string>
            </dict>
            <key>brown_line_130x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1829,2042},{130,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,1}}</string>
                <key>sourceSize</key>
                <string>{130,1}</string>
            </dict>
            <key>button_red_normal_232x64.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,118},{232,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,64}}</string>
                <key>sourceSize</key>
                <string>{232,64}</string>
            </dict>
            <key>button_red_pressed_232x64.png</key>
            <dict>
                <key>frame</key>
                <string>{{1053,118},{232,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,64}}</string>
                <key>sourceSize</key>
                <string>{232,64}</string>
            </dict>
            <key>centerDialog_100x144.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,1945},{100,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,140}}</string>
                <key>sourceSize</key>
                <string>{100,144}</string>
            </dict>
            <key>chat_page_index_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1361,1016},{20,6}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{20,6}}</string>
                <key>sourceSize</key>
                <string>{28,14}</string>
            </dict>
            <key>common_bg_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{647,981}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{647,981}}</string>
                <key>sourceSize</key>
                <string>{647,981}</string>
            </dict>
            <key>dividing_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2041,814},{402,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,2}}</string>
                <key>sourceSize</key>
                <string>{402,2}</string>
            </dict>
            <key>dragon_skill_lock_34x46.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,1577},{34,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,46}}</string>
                <key>sourceSize</key>
                <string>{34,46}</string>
            </dict>
            <key>dragon_strength_27x31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1983,1507},{25,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{25,29}}</string>
                <key>sourceSize</key>
                <string>{27,31}</string>
            </dict>
            <key>dragon_tab_buttons_normal_172x54.png</key>
            <dict>
                <key>frame</key>
                <string>{{1861,1986},{172,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,54}}</string>
                <key>sourceSize</key>
                <string>{172,54}</string>
            </dict>
            <key>drop_down_box_bg_566x188.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,1755},{566,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,188}}</string>
                <key>sourceSize</key>
                <string>{566,188}</string>
            </dict>
            <key>emoji_bg_536x478.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,934},{536,478}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,478}}</string>
                <key>sourceSize</key>
                <string>{536,478}</string>
            </dict>
            <key>emoji_page_8x8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1361,984},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>faq_item_box_548x72.png</key>
            <dict>
                <key>frame</key>
                <string>{{1235,984},{548,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,72}}</string>
                <key>sourceSize</key>
                <string>{548,72}</string>
            </dict>
            <key>fte_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{1371,2},{668,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{668,348}}</string>
                <key>sourceSize</key>
                <string>{672,348}</string>
            </dict>
            <key>gacha_num_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,964},{36,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,19}}</string>
                <key>sourceSize</key>
                <string>{36,19}</string>
            </dict>
            <key>green_btn_down_250x66.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,118},{250,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,66}}</string>
                <key>sourceSize</key>
                <string>{250,66}</string>
            </dict>
            <key>green_btn_up_250x66.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,186},{250,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,66}}</string>
                <key>sourceSize</key>
                <string>{250,66}</string>
            </dict>
            <key>green_line_130x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1829,2045},{130,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,1}}</string>
                <key>sourceSize</key>
                <string>{130,1}</string>
            </dict>
            <key>green_title_639x69.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,984},{639,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{639,69}}</string>
                <key>sourceSize</key>
                <string>{639,69}</string>
            </dict>
            <key>grey_line_130x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1361,1038},{130,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,1}}</string>
                <key>sourceSize</key>
                <string>{130,1}</string>
            </dict>
            <key>icon_desert_132x132.png</key>
            <dict>
                <key>frame</key>
                <string>{{1623,1414},{118,118}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{118,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_grass_132x132.png</key>
            <dict>
                <key>frame</key>
                <string>{{1743,1414},{118,118}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{118,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_icefield_132x132.png</key>
            <dict>
                <key>frame</key>
                <string>{{1863,1414},{118,118}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{118,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_treat_soldier_41x50.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,1534},{41,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,50}}</string>
                <key>sourceSize</key>
                <string>{41,50}</string>
            </dict>
            <key>insight_icon_40x44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,1899},{40,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,44}}</string>
                <key>sourceSize</key>
                <string>{40,44}</string>
            </dict>
            <key>level_bg_72x19.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,964},{72,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,19}}</string>
                <key>sourceSize</key>
                <string>{72,19}</string>
            </dict>
            <key>line_1x473.png</key>
            <dict>
                <key>frame</key>
                <string>{{2045,814},{1,473}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,473}}</string>
                <key>sourceSize</key>
                <string>{1,473}</string>
            </dict>
            <key>line_4x45.png</key>
            <dict>
                <key>frame</key>
                <string>{{2041,767},{4,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,45}}</string>
                <key>sourceSize</key>
                <string>{4,45}</string>
            </dict>
            <key>line_624x4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2041,141},{624,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,4}}</string>
                <key>sourceSize</key>
                <string>{624,4}</string>
            </dict>
            <key>listview_edging.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,964},{578,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{578,18}}</string>
                <key>sourceSize</key>
                <string>{578,18}</string>
            </dict>
            <key>map_back_99x88.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1947},{99,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,88}}</string>
                <key>sourceSize</key>
                <string>{99,88}</string>
            </dict>
            <key>march_hide_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,964},{26,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,19}}</string>
                <key>sourceSize</key>
                <string>{26,19}</string>
            </dict>
            <key>moveTheCity_101x101.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,1945},{89,101}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{89,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>movingConstruction_101x101.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,1945},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>npc_man.png</key>
            <dict>
                <key>frame</key>
                <string>{{1381,1534},{446,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,512}}</string>
                <key>sourceSize</key>
                <string>{446,512}</string>
            </dict>
            <key>people.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,254},{18,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,29}}</string>
                <key>sourceSize</key>
                <string>{18,29}</string>
            </dict>
            <key>progress_bg_116x89.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,1534},{116,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,89}}</string>
                <key>sourceSize</key>
                <string>{116,89}</string>
            </dict>
            <key>quest_btn_down_386x62.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,2},{382,56}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{382,56}}</string>
                <key>sourceSize</key>
                <string>{386,62}</string>
            </dict>
            <key>quest_btn_up_386x62.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,60},{382,56}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{382,56}}</string>
                <key>sourceSize</key>
                <string>{386,62}</string>
            </dict>
            <key>rectangle_terrain_box_216x282.png</key>
            <dict>
                <key>frame</key>
                <string>{{1829,1534},{216,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,282}}</string>
                <key>sourceSize</key>
                <string>{216,282}</string>
            </dict>
            <key>res_bg_37x41.png</key>
            <dict>
                <key>frame</key>
                <string>{{1299,1534},{37,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,41}}</string>
                <key>sourceSize</key>
                <string>{37,41}</string>
            </dict>
            <key>res_iron_91x63.png</key>
            <dict>
                <key>frame</key>
                <string>{{1983,1414},{91,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,63}}</string>
                <key>sourceSize</key>
                <string>{91,63}</string>
            </dict>
            <key>retreat_button_icon_22x18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,285},{22,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,18}}</string>
                <key>sourceSize</key>
                <string>{22,18}</string>
            </dict>
            <key>selenaquestion_bg_580x536.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,352},{580,536}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,536}}</string>
                <key>sourceSize</key>
                <string>{580,536}</string>
            </dict>
            <key>server_item_568x130.png</key>
            <dict>
                <key>frame</key>
                <string>{{1371,964},{568,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,130}}</string>
                <key>sourceSize</key>
                <string>{568,130}</string>
            </dict>
            <key>shrie_power_bg_146x26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1353,1751},{146,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,26}}</string>
                <key>sourceSize</key>
                <string>{146,26}</string>
            </dict>
            <key>store_item_red_610x514.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,352},{610,514}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{610,514}}</string>
                <key>sourceSize</key>
                <string>{610,514}</string>
            </dict>
            <key>tab_event_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{2041,2},{137,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,5}}</string>
                <key>sourceSize</key>
                <string>{137,5}</string>
            </dict>
            <key>technology_line_normal_72x12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,1755},{72,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,12}}</string>
                <key>sourceSize</key>
                <string>{72,12}</string>
            </dict>
            <key>top_bg_768x116.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,984},{768,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,116}}</string>
                <key>sourceSize</key>
                <string>{768,116}</string>
            </dict>
            <key>torch_101x101.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,1945},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>upgrade_next_level_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,254},{129,96}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{129,96}}</string>
                <key>sourceSize</key>
                <string>{129,98}</string>
            </dict>
            <key>vip_btn_back_ground_96x120.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,254},{96,98}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{96,98}}</string>
                <key>sourceSize</key>
                <string>{96,120}</string>
            </dict>
            <key>vip_lv_bar_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1325,1751},{26,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,2}}</string>
                <key>sourceSize</key>
                <string>{26,2}</string>
            </dict>
            <key>vip_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,332},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,18}}</string>
                <key>sourceSize</key>
                <string>{14,18}</string>
            </dict>
            <key>wrong_41x45.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,1586},{41,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{41,37}}</string>
                <key>sourceSize</key>
                <string>{41,45}</string>
            </dict>
            <key>yellow_button_190x46.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1755},{190,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,46}}</string>
                <key>sourceSize</key>
                <string>{190,46}</string>
            </dict>
            <key>yellow_button_highlight_190x46.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,1755},{190,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,46}}</string>
                <key>sourceSize</key>
                <string>{190,46}</string>
            </dict>
            <key>yellow_line_130x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,1038},{130,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,1}}</string>
                <key>sourceSize</key>
                <string>{130,1}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common_ui_0.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0afe124f92af68a6adc0da7d85b58ba:1/4$</string>
            <key>textureFileName</key>
            <string>common_ui_0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
