<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_ground_548x40_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,80},{548,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,40}}</string>
                <key>sourceSize</key>
                <string>{548,40}</string>
            </dict>
            <key>back_ground_548x40_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,122},{548,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,40}}</string>
                <key>sourceSize</key>
                <string>{548,40}</string>
            </dict>
            <key>back_ground_564x74.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,164},{564,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{564,74}}</string>
                <key>sourceSize</key>
                <string>{564,74}</string>
            </dict>
            <key>back_ground_568X128.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{568,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,128}}</string>
                <key>sourceSize</key>
                <string>{568,128}</string>
            </dict>
            <key>background1_548x76.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,132},{548,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,76}}</string>
                <key>sourceSize</key>
                <string>{548,76}</string>
            </dict>
            <key>background2_548x76.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,2},{548,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,76}}</string>
                <key>sourceSize</key>
                <string>{548,76}</string>
            </dict>
            <key>background_568x120.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{568,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,120}}</string>
                <key>sourceSize</key>
                <string>{568,120}</string>
            </dict>
            <key>selena_tips_564x104.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{564,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{564,104}}</string>
                <key>sourceSize</key>
                <string>{564,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_png_bg1.pvr.ccz</string>
            <key>size</key>
            <string>{1697,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9cdbf150643a3b82ad0384f1449674d9:2/2$</string>
            <key>textureFileName</key>
            <string>ui_png_bg1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
